<header class="topbar">
      <img class="thaituan-topbar-logo" src="thaituan-logo-homepage.png" alt="thaituan-logo">
      <div class="user-section d-flex gap-10px">
            <div class="reminder-wrapper topbar-icon-wrapper" 
            *ngIf="(activeReminders$ | async) as list" [class.remind]="list.length > 0"
            (click)="toggleTaskReminderDrawer()" title="Nhắc việc">
                  <span class="reminder-icon topbar-icon material-icons-round"
                  *ngIf="(activeReminders$ | async) as list"
                  [class.ringing]="list.length > 0">
                        alarm
                  </span>
                  <span class="reminder-badge"
                  *ngIf="(activeReminders$ | async) as list"
                  [class.has-reminders]="list.length > 0"
                  [class.no-reminders]="list.length === 0">
                        {{ list.length }}
                  </span>
            </div>
            <div #bellBtn class="notification-wrapper topbar-icon-wrapper" (click)="toggleNotificationPanel(bellBtn)" title="Thông báo">
                  <span class="topbar-icon material-icons-round">notifications</span>
                  <span class="notification-badge" *ngIf="(unreadCount$ | async) as c" [style.display]="c>0 ? null : 'none'">{{ c }}</span>
            </div>
            <div class="user-avatar-wrapper">
                  <img class="user-avatar" [src]="avatarSrc" alt="user avatar">
            </div>
      </div>
</header>
