<header class="topbar">
      <img class="thaituan-topbar-logo" src="thaituan-logo-homepage.png" alt="thaituan-logo">
      <div class="user-section d-flex gap-10p">
            <div class="topbar-icon-wrapper">
                  <span class="topbar-icon material-icons-round">alarm</span>
            </div>
            <div class="topbar-icon-wrapper">
                  <span class="topbar-icon material-icons-round">notifications</span>
            </div>
            <div class="user-avatar-wrapper">
                  <img class="user-avatar" [src]="avatarSrc" alt="user avatar">
            </div>
      </div>
</header>
