<ng-container *ngIf="loading(); else contentTpl">
      <kit-loading-spinner></kit-loading-spinner>
</ng-container>

<!-- 2) Content -->
<ng-template #contentTpl>
      <ng-container *ngIf="paymentDetail() as detail; else errorTpl">
            <form class="outgoing-payment-form" [formGroup]="form" autocomplete="off" (ngSubmit)="submit()">
                  <div class="request-heading display-flex justify-content-between align-items-center">
                        <div class="page-title">
                              <h3 class="icon">💷</h3>
                              <h3 class="title">Ghi nhận khoản tiền ra</h3>
                              <h3 class="title payment-name">{{ detail.name }}</h3>
                        </div>
                        <div class="process-button-container display-flex gap-10px">
                              <button type="button" class="button cancel-button" [disabled]="loading()">Hủy</button>
                              <kit-spinner-button type="submit" cssClass="save-button" [loading]="submitting" [disabled]="isBusy || form.invalid" text="Tạo khoản chi" loadingText="Đang xử lý…"></kit-spinner-button>
                        </div>
                  </div>

                  <div class="request-body margin-top-20px">
                        <div class="form-row">
                              <div class="form-input">
                                    <input type="text" formControlName="name" required />
                                    <label for="name">Tên khoản tiền ra <span style="color: red">*</span></label>
                                    <div class="form-input-error" *ngIf="submitted && form.get('name')?.invalid">
                                          <small>Vui lòng nhập tên khoản tiền ra</small>
                                    </div>
                              </div>
                        </div>
                        <div class="form-row display-flex align-items-center gap-20px">
                              <label class="form-label" for="name" style="width: 8%;">Tài khoản tiền ra <span style="color: red;">*</span></label>
                              <kit-dropdown [options]="(OBAccountOptions | async) ?? []" [placeholder]="'Chọn tài khoản tiền ra'" style="width: 100%;" (selectionChange)="onOBAccountSelected($event)"></kit-dropdown>
                        </div>
                        <div class="form-row">
                              <label class="form-label" for="payment-bank">Tài khoản thụ hưởng: </label>
                              <div class="receiver-payment display-flex gap-10px margin-top-20px">
                                    <div class="form-input flex-1">
                                          <input class="" type="text" formControlName="bankName" autocomplete="on" required/>
                                          <label for="bank-name">Tên ngân hàng <span style="color: red;">  *</span></label>
                                          <div class="form-input-error" *ngIf="submitted && form.get('bankName')?.invalid">
                                                <small>Vui lòng nhập tên ngân hàng</small>
                                          </div>
                                    </div>
                                    <div class="form-input flex-1">
                                          <input class="" type="text" formControlName="accountNumber" autocomplete="on" required/>
                                          <label for="bank-account">Số tài khoản <span style="color: red;">  *</span></label>
                                          <div class="form-input-error" *ngIf="submitted && form.get('accountNumber')?.invalid">
                                                <small>Vui lòng nhập số tài khoản</small>
                                          </div>
                                    </div>
                                    <div class="form-input flex-1">
                                          <input class="" type="text" formControlName="beneficiaryName" autocomplete="on" required/>
                                          <label for="beneficiary-name">Tên người thụ hưởng <span style="color: red;">  *</span></label>
                                          <div class="form-input-error" *ngIf="submitted && form.get('beneficiaryName')?.invalid">
                                                <small>Vui lòng nhập tên người thụ hưởng</small>
                                          </div>
                                    </div>
                              </div>
                        </div>
                        <div class="form-row display-flex gap-10px">
                              <div class="form-column flex-1">
                                    <label class="form-label" for="name">Số tiền công ty cần trả 🔒</label>
                                    <input class="dark dark-alert user-select-none margin-top-10px" [value]="paymentDetail()?.totalWithTax | number:'1.0-2'" disabled />
                              </div>
                              <div class="form-column flex-1">
                                    <label class="form-label" for="name">Số tiền đã tạo lệnh 🔒</label>
                                    <input class="dark dark-alert user-select-none margin-top-10px" [value]="paymentDetail()?.outgoingAmountPaid | number:'1.0-2'" disabled />
                              </div>
                              <div class="form-column flex-1">
                                    <label class="form-label" for="name">Số tiền chờ tạo lệnh 🔒</label>
                                    <input class="dark dark-alert user-select-none margin-top-10px" [value]="paymentDetail()?.remainingOutgoingAmount | number:'1.0-2'" disabled />
                              </div>
                              <div class="form-column flex-1">
                                    <label class="form-label" for="name">Số tiền khoản tiền ra <span style="color: red;">  *</span></label>
                                    <input class="margin-top-10px" placeholder="Nhập số tiền khoản tiền ra" type="text" inputmode="decimal" appMoney [appMoneyDecimals]="0" formControlName="outgoingAmount" />
                                    <div class="form-input-error" *ngIf="submitted && form.get('outgoingAmount')?.invalid">
                                          <small>Vui lòng nhập số tiền khoản tiền ra</small>
                                    </div>
                              </div>
                        </div>
                        <div class="form-row">
                              <label class="form-label" for="category-table">Hạng mục</label>
                              <table class="table table-center-text margin-top-10px">
                                    <thead>
                                          <tr>
                                                <th style="width: 1%;">#</th>
                                                <th>Hạng mục</th>
                                                <th class="head-quanity" style="width: 7%;">Số lượng</th>
                                                <th>Đơn giá</th>
                                                <th>Thành tiền</th>
                                                <th class="head-tax" style="width: 6%;">Thuế</th>
                                                <th>Số tiền thuế</th>
                                                <th>Số tiền có thuế</th>
                                                <th class="head-extension">Ngân sách</th>
                                                <th class="head-invoice">Hóa đơn</th>
                                          </tr>
                                    </thead>
                                    <tbody>
                                          <tr *ngFor="let item of paymentDetail()?.items; let i = index">
                                                <td>{{ i + 1 }}</td>
                                                <td class="item-name">{{ item.itemName }}</td>
                                                <td class="item-quanity">{{ item.quantity | number:'1.0-0' }}</td>
                                                <td class="item-unit-price">{{ item.unitPrice | number:'1.0-0' }} VNĐ</td>
                                                <td class="item-amount">{{ item.amount | number:'1.0-0' }} VNĐ</td>
                                                <td class="item-tax">{{ (item.taxRate * 100) | number:'1.0-0' }}%</td>
                                                <td class="item-tax-amount">{{ item.taxAmount | number:'1.0-0' }} VNĐ</td>
                                                <td class="item-total-with-tax">{{ item.totalWithTax | number:'1.0-0' }} VNĐ</td>
                                                <td class="item-budget-code">{{ item.budgetCode?.code}} - {{ item.budgetCode?.name }}</td>
                                                <td class="item-invoice">
                                                      <!-- <button type="button" class="button" [ngClass]="item.invoice ? 'default-button' : 'cancel-button'">
                                                            {{ item.invoice ? 'Xem hóa đơn' : 'Không hóa đơn' }}
                                                      </button> -->
                                                </td>
                                          </tr>
                                    </tbody>
                                    <tfoot *ngIf="paymentDetail()?.items?.length">
                                          <tr class="total-row">
                                                <td colspan="4" class=""><strong>Tổng</strong></td>
                                                <td>{{ paymentDetail()?.totalAmount | number:'1.0-0' }} VNĐ</td>
                                                <td></td>
                                                <td>{{ paymentDetail()?.totalTax | number:'1.0-0' }} VNĐ</td>
                                                <td>{{ paymentDetail()?.totalWithTax | number:'1.0-0' }} VNĐ</td>
                                                <td colspan="4"></td>
                                          </tr>
                                    </tfoot>
                              </table>
                        </div>
                        <div class="form-row display-flex gap-10px">
                              <div class="form-column flex-1">
                                    <label class="form-label" for="name">Ngày tạo thanh toán 🔒</label>
                                    <input class="dark dark-alert user-select-none margin-top-10px" [value]="paymentDetail()?.createdAt | date:'dd/MM/yyyy'" disabled />
                              </div>
                              <div class="form-column flex-1">
                                    <label class="form-label" for="name">Hạn thanh toán <span style="color: red;">  *</span></label>
                                    <input class="due-date margin-top-10px" formControlName="dueDate" matInput [matDatepicker]="picker" placeholder="chọn ngày/tháng/năm"
                                    (focus)="picker.open()" (click)="picker.open()" (keydown.enter)="picker.open()" (keydown.arrowDown)="picker.open()" required/>
                                    <mat-datepicker #picker panelClass="kit-datepicker"></mat-datepicker>
                              </div>
                        </div>
                        <div class="form-row">
                              <label class="form-label" for="name">Người theo dõi</label>
                        </div>
                        <div class="form-row">
                              <label class="form-label" for="name">Mô tả</label>
                              <textarea class="margin-top-10px" formControlName="description" placeholder="Trình bày nội dung ở đây" noSpellcheck></textarea>
                        </div>
                        <div class="form-row">
                              <span>Tệp đính khoản tiền ra</span>
                              <kit-file-uploader [meta]="uploadMeta" [(uploads)]="uploads"></kit-file-uploader>
                        </div>
                        <kit-overlay-spinner [show]="isBusy" [message]="submitting ? 'Đang gửi phê duyệt…' : 'Đang tải tệp lên…'"></kit-overlay-spinner>
                  </div>
            </form>
      </ng-container>
</ng-template>

<!-- 3) Error -->
<ng-template #errorTpl>
      <kit-404-page title="⛔ Không thể tải dữ liệu thanh toán" variant="404"></kit-404-page>
</ng-template>