<div class="page-container">
      <div class="page-heading">
            <div class="page-title">
                  <h3 class="title">Danh sách luồng duyệt</h3>
            </div>
      </div>
      <div class="page-body">
            <table class="table">
                  <thead>
                        <tr>
                              <th>#</th>
                              <th>Tên</th>
                              <th class="text-align-center">Hiệu lực</th>
                              <th class="text-align-center">Hành động</th>
                        </tr>
                  </thead>
                  <tbody>
                        <ng-container *ngIf="expenseWorkflowTemplates.length > 0">
                              <ng-container *ngFor="let workflow of expenseWorkflowTemplates; let i = index">
                                    <tr>
                                          <td>{{ i + 1 }}</td>
                                          <td>{{ workflow.name }}</td>
                                          <td>
                                                <div class="display-flex justify-content-center">
                                                      <label class="switch-1">
                                                            <input type="checkbox" [checked]="workflow.isActive" disabled>
                                                            <span class="slider"></span>
                                                      </label>
                                                </div>
                                          </td>
                                          <td>
                                                
                                          </td>
                                    </tr>
                              </ng-container>
                        </ng-container>
                        <ng-container *ngIf="expenseWorkflowTemplates.length === 0">
                              <tr>  
                                    <td colspan="4" class="text-align-center">Không có dữ liệu</td>
                              </tr>
                        </ng-container>
                  </tbody>
            </table>
      </div>
</div>