<div [ngClass]="data.tone === 'danger' ? 'danger-background' : (data.tone === 'warning' ? 'warning-background' : 'primary-background')">
      <div class="confirm-dialog">
            <h2 class="dialog-title">{{ data.title || 'Xác nhận' }}</h2>

            <div class="dialog-icon-wrapper display-flex justify-content-center align-items-center" style="margin: 30px 0px;">
                  <span class="dialog-icon">⚠️</span>
            </div>

            <div class="dialog-message">
                  <span class="message">{{ data.message || 'Bạn chắc chắn muốn tiếp tục?' }}</span>
            </div>

            <ng-container *ngIf="data.tone === 'warning'">
                  <div class="display-flex gap-10px margin-top-20px">
                        <button class="width-50pt button cancel-button" (click)="close(false)">{{ data.cancelText || 'Hủy' }}</button>
                        <button class="width-50pt button save-button display-flex justify-content-center" (click)="close(true)">{{ data.confirmText || 'Đồng ý' }}</button>
                  </div>
            </ng-container>
            <ng-container *ngIf="data.tone === 'danger'" >
                  <div [ngClass]="data.tone === 'danger' ? 'danger-cancel-button' : ''">
                        <button class="button" [ngClass]="data.tone === 'danger' ? 'danger-cancel' : ''" (click)="close(false)">Quay lại</button>
                  </div>
            </ng-container>
      </div>
</div>