.dialog {
      width: fit-content;
      min-width: 50vw;
}

.payment-name {
      color: var(--primary-fg-color);
}

.time-clock-border {
      border-left: 1px solid #aaa;
      margin-left: 5px;
      padding-left: 5px;
}

.general-infor {
      .card-body .column {
            display: grid;
            grid-template-columns: 150px 1fr; /* label 150px, value auto */
            margin-bottom: 15px;
      }
      .card-body label {
            color: #aaa;
      }
      .avatar-user {
            margin: 0;
      }

      .expense-step {
            position: relative;
            .status-icon {
                  position: absolute;
                  bottom: 0px;
                  left: 50%;
                  transform: translateX(-50%);
                  background-color: #28a745;
                  color: white;
                  width: 50%;
                  text-align: center;
                  border-radius: 50%;
                  font-size: 10px;
                  user-select: none;
            }
            .approved-icon {
                  background-color: #28a745;
            }
            .rejected-icon {
                  background-color: #dc3545;
            }
      }

      .payment-attachment {
            background: #fff;
            border: 1px solid #e6e6e6;
            border-radius: 0.5rem;
            padding: 7px;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);
            font-size: 10px;
            transition: duration 80ms;
            max-width: 150px;
            text-wrap: nowrap;
            width: fit-content;

            span {
                  display: inline-block;
                  max-width: 150px;
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                  line-height: 1.2;
            }

            &:hover {
                  box-shadow: rgba(3, 85, 238, 0.12) 0px 1px 3px, rgba(5, 1, 224, 0.24) 0px 1px 2px;
            }
            &:hover span {
                  color: var(--bright-blue-color);
                  text-decoration: underline;
                  cursor: pointer;
            }
      }
}

.amount-infor {
      .card-body {
            display: flex;
            gap: 20px;
      }
      .payment-amount-block {
            text-align: center;
            flex: 1;
            padding-right: 20px;
            position: relative;
            display: flex;
            gap: 10px;
            flex-direction: column;

            label {
                  font-weight: 600;
            }
      }
      .payment-amount-block:not(:last-child)::after {
            content: '';
            position: absolute;
            top: 10px;
            bottom: 10px;
            right: 0;
            width: 1px;
            height: 50%;
            background-color: #aaa;
      }
}

.payment-tabs {
      .payment-tab-navigation {
            border-bottom: 1px solid #e0e0e0;

            .tab-button {
                  background: none;
                  border: none !important;
                  padding: 6px 12px;
                  font-weight: 500;
                  color: #555;
                  cursor: pointer;
                  position: relative;
                  transition: color 0.2s;

                  &.active {
                        color: var(--bright-blue-color);
                        background-color: aliceblue;
                  }

                  &.active::after {
                        content: '';
                        position: absolute;
                        bottom: -1px;
                        left: 0;
                        right: 0;
                        height: 2px;
                        background-color: var(--bright-blue-color);
                  }

                  &:hover {
                        color: var(--bright-blue-color);
                  }
            }
      }
}