<div class="page-heading">
      <div class="page-title">
            <h3 class="icon">👨🏻‍💻</h3>
            <h3 class="title" >Quản lý thành viên</h3>
      </div>
      <div *appHasPermission="'user.create'">
            <button type="button" class="button default-button" (click)="openUserRequestDialog()">Thêm người dùng mới</button>
      </div>
</div>

<div class="page-body">
      <table class="table margin-top-20px">
            <thead>
                  <tr>
                        <th>#</th>
                        <th>Họ và tên</th>
                        <th>Mã nhân viên</th>
                        <th>Phòng ban</th>
                        <th>Vai trò</th>
                        <th>Quản lý</th>
                        <th *appHasPermission="'user.actions'">Hành động</th>
                  </tr>
            </thead>
            <tbody>
                  <tr *ngFor="let user of (users$ | async) ?? []; trackBy: trackById; let i = index;">
                        <td>{{ i + 1 }}</td>
                        <td>
                              <div class="display-flex justify-content-center align-items-center gap-5px">
                                    <img class="avatar-user" [src]="user | avatarUrlPipe" alt="avatar-user">
                                    <span>{{ user.fullName }}</span> 
                              </div>
                        </td>
                        <td>{{ user.employeeCode }}</td>
                        <td>{{ user.departmentName }}</td>
                        <td>
                              <ul *ngFor="let role of user.roleNames">
                                    <li>{{ role }}</li>
                              </ul>
                        </td>
                        <td>
                              <ul *ngFor="let manager of user.managers">
                                    <li><img class="avatar-user" [src]="manager | avatarUrlPipe" alt="avatar-user"></li>
                              </ul>
                        </td>
                        <td *appHasPermission="'user.actions'">
                              <div  class="display-flex justify-content-center">
                                    <kit-action-menu [actions]="buildUserActions(user)"></kit-action-menu>
                              </div>
                        </td>
                  </tr>
            </tbody>
      </table>
</div>