$topbar-padding: 1.5rem;


.topbar {
      height: 64px;
      background-color: var(--sub-bg-color);
      color: black;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 $topbar-padding;
      font-size: 1rem;
      // box-shadow: inset 0 calc(0.0625rem*-1) #d9d1e0;
}
.thaituan-topbar-logo {
      height: 50px;
      width: auto;
      margin-left: -$topbar-padding;
}

.title {
      font-weight: bold;
      font-size: 1.2rem;
}

.user-section {
      font-size: 0.95rem;
}
