.topbar {
      height: 64px;
      background-color: var(--sub-bg-color);
      color: black;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 1.5rem;
      font-size: 1rem;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
      font-weight: bold;
      font-size: 1.2rem;
}

.user-section {
      font-size: 0.95rem;
}
