<div class="modal-backdrop">
      <div class="modal">
            <h2>Thêm thành viên mới</h2>

            <form (ngSubmit)="onSubmit()">
                  <div class="d-flex gap-5p">
                        <label class="w-75" for="">
                              Họ và tên
                              <input [(ngModel)]="user.fullName" name="fullName" required/>
                        </label>
                        <label class="w-25" for="">
                              Mã nhân viên
                              <input [(ngModel)]="user.employeeCode" name="employeeCode" required/>
                        </label>
                  </div>

                  <div class="d-flex gap-5p">
                        <label class="w-60" for="">
                              username
                              <input [(ngModel)]="user.username" name="username" required/>
                        </label>
                        <label class="w-40" for="">
                              Vai trò
                              <select [(ngModel)]="user.role" name="role" required>
                                    <option *ngFor="let r of roles" [value]="r">
                                          {{ r === 'user' ? 'Người dùng' : 'Quản trị viên' }}
                                    </option>
                              </select>
                        </label>
                  </div>

                  <div class="d-flex gap-5p">
                        <label class="w-60" for="">
                              Email
                              <input type="email" [(ngModel)]="user.email" name="email" required />
                        </label>
                        <label class="w-40" for="">
                              Số điện thoại
                              <input [(ngModel)]="user.phone" name="phone" type="text" required />
                        </label>
                  </div>

                  <div class="d-flex gap-5p">
                        <mat-form-field appearance="fill">
                              <mat-label>Phòng ban</mat-label>
                              <input type="text" 
                                    matInput [matAutocomplete]="auto" 
                                    [(ngModel)]="user.departmentId" 
                                    (ngModelChange)="onDepartmentInputChange($event)"
                                    name="department" required/>
                              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayDepartmentFn">
                                    <mat-option *ngFor="let dept of filteredDepartments" [value]="dept.id"> 
                                          {{ dept.code }} - {{ dept.name }} 
                                    </mat-option>
                              </mat-autocomplete>
                        </mat-form-field>
                        <label for="">
                              Chức vụ
                              <input [(ngModel)]="user.position" name="position" required/>
                        </label>
                  </div>

                  <div>
                        <mat-form-field appearance="fill" class="width-50pt">
                              <mat-label>Mật khẩu</mat-label>
                              <input matInput [type]="showPassword ? 'text' : 'password'"
                                    [(ngModel)]="user.password" name="password" required />
                              <button mat-icon-button matSuffix type="button" (click)="showPassword = !showPassword">
                                    <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                              </button>
                        </mat-form-field>
                  </div>

                  <div class="actions">
                        <button type="submit">Thêm</button>
                        <button type="button" (click)="onClose()">Hủy</button>
                  </div>
            </form>
      </div>
</div>