<aside class="sidebar">
      <nav>
            <ul>
                  <li>
                        <a routerLink="/home" routerLinkActive="active">
                              <!-- <span class="sidebar-icon material-icons-round">home</span> -->
                               <span class="sidebar-icon">🏠</span>
                              <span class="sidebar-title">Trang chủ</span>
                        </a>
                  </li>
                  <li>
                        <a routerLink="/finance" routerLinkActive="active">
                              <span class="sidebar-icon">💰</span>
                              <span class="sidebar-title">Ngân sách</span>
                        </a>
                  </li>
                  <li>
                        <a routerLink="/expense" routerLinkActive="active">
                              <span class="sidebar-icon">💳</span>
                              <span class="sidebar-title">Thanh toán</span>
                        </a>
                  </li>
                  <li>
                        <a routerLink="/account" routerLinkActive="active">
                              <!-- <span class="sidebar-icon material-icons-round">manage_accounts</span> -->
                              <span class="sidebar-icon">👨🏻‍💼</span>
                              <span class="sidebar-title">Tài khoản</span>
                        </a>
                  </li>
                  <!-- Thêm menu khác -->
            </ul>
      </nav>
</aside>
