<div class="dialog">
      <div class="dialog-container">
            <div class="dialog-heading">
                  <div class="dialog-title">
                        <h3>Gán quyền cho vai trò <span style="color: var(--bright-blue-color);">{{ role.name }}</span></h3>
                  </div>
                  <div class="dialog-close">
                        <button type="button" class="close-button" (click)="closeDialog()">
                              <span class="text material-icons-outlined">close</span>
                        </button>
                  </div>
            </div>
            <div class="dialog-body">
                  <form (ngSubmit)="submit()">
                        <div class="dialog-row display-flex gap-10px justify-content-between">
                              <div class="dialog-column">
                                    <div class="primary-card">
                                          <div class="card-header">
                                                <label for="selected-permisions">Quyền đã chọn</label>
                                          </div>
                                          <div class="card-body">
                                                <ul class="selected-permissions" *ngFor="let permission of selectedPermissions">
                                                      <li [@slideList] class="selected-permission" [class.active]="selectedAssigned.includes(permission)" (click)="toggleAssigned(permission)">
                                                            {{ permission.name }}
                                                      </li>
                                                </ul>
                                          </div>
                                    </div>
                              </div>
                              <div class="dialog-column display-flex flex-column justify-content-center align-items-center gap-10px">
                                    <button type="button" class="kit-icon-button" (click)="moveToAssigned()">⬅️</button>
                                    <button type="button" class="kit-icon-button" (click)="moveToAvailable()">➡️</button>
                              </div>
                              <div class="dialog-column">
                                    <div class="primary-card">
                                          <div class="card-header">
                                                <label for="available-permisions">Quyền khả dụng</label>
                                          </div>
                                          <div class="card-body">
                                                <ul class="available-permissions" *ngFor="let permission of availablePermissions">
                                                      <li [@slideList] class="available-permission" [class.active]="selectedAvailable.includes(permission)" (click)="toggleAvailable(permission)">
                                                            {{ permission.name }}
                                                      </li>
                                                </ul>
                                          </div>
                                    </div>
                              </div>
                        </div>
                        <div class="dialog-actions display-flex gap-10px">
                              <button type="button" class="flex-1 button cancel-button" (click)="closeDialog()" [disabled]="submitting">Hủy</button>
                              <button type="submit" class="flex-1 button save-button display-flex justify-content-center" [disabled]="submitting">
                                    {{ submitting ? 'Đang lưu...' : 'Lưu' }}
                              </button>
                        </div>
                  </form>
            </div>
      </div>
</div>