.dialog-row {
      display: flex;
      gap: 10px;
      justify-content: space-between;
      align-items: stretch;

      .dialog-column {
            display: flex;
            flex-direction: column;

            &:first-child,
            &:last-child {
                  flex: 1 1 0;
            }

            // Cột giữa chỉ vừa bằng nút
            &:nth-child(2) {
                  flex: 0 0 auto; /* Fit-content cho nút */
                  display: flex;
                  align-items: center;
                  justify-content: center;
            }
      }
}

.primary-card {
      width: 100%;
      .card-header {
            font-weight: unset;
            font-size: unset;
            text-align: center;
            padding: 8px !important;
      }
      .card-body {
            padding: unset !important;
            height: 200px;
            max-height: 300px;
      }
}

.available-permissions, .selected-permissions {
      list-style: none;

      .available-permission, .selected-permission {
            padding: 8px;
            &:hover {
                  background-color: var(--main-bg-color);
                  cursor: pointer;
            }
            &.selected {
                  background-color: var(--bright-blue-color);
                  color: white;
            }
      }
}
