<div class="page-container">
      <div class="page-heading">
            <div class="page-title">
                  <h3 class="icon">🙍🏻‍♂️</h3>
                  <h3 class="title">Danh sách vai trò</h3>
            </div>
            <div class="actions">
                  <button type="button" class="button default-button" (click)="openRoleRequestDialog()">Thêm vai trò</button>
            </div>
      </div>
      <div class="page-body">
            <table class="table table-text-center ">
                  <thead>
                        <tr>
                              <th>#</th>
                              <th>Tên vai trò</th>
                              <th>Mô tả</th>
                              <th>Hành động</th>
                        </tr>
                  </thead>
                  <tbody>
                        <tr *ngFor="let role of (roles$ | async) ?? []; trackBy: trackById; let i = index;">
                              <td>{{ i + 1 }}</td>
                              <td>{{ role.name }}</td>
                              <td>{{ role.description }}</td>
                              <td>
                              </td>
                        </tr>
                  </tbody>
            </table>
      </div>
</div>