services:
      api:
            build:
                  context: .
                  dockerfile: ThaiTuanERP2025.Server/Dockerfile
            container_name: erp-api
            ports:
                  - "5000:8080"
            environment:
                  - ASPNETCORE_ENVIRONMENT=Development
            volumes:
                  - ./ThaiTuanERP2025.Server:/src/ThaiTuanERP2025.Server
                  - ./ThaiTuanERP2025.sln:/src/ThaiTuanERP2025.sln
                  - E:/Kien/task/ThaiTuanERP2025.drive:/app/files
            networks:
                  - erp-network

      client:
            build:
                  context: ./ThaiTuanERP2025.Client
                  dockerfile: Dockerfile
                  args:
                        BUILD_ENV: production
            container_name: erp-client
            ports:
                  - "4200:80"
            depends_on:
                  - api
            networks:
                  - erp-network

networks:
      erp-network:
            driver: bridge
