<div class="page-container">
      <div class="page-heading">
            <div class="page-title">
                  <h3 class="title">Tạo luồng duyệt mới</h3>
            </div>
            <div>
                  <button type="button" class="button submit-button" (click)="openSaveExpenseWorkflowTemplateDialog()" 
                  [disabled]="!canSave">Lưu luồng duyệt</button>
            </div>
      </div>
      <div class="page-body">
            <div class="workflow-space">
                  <div class="workflow-process-wrapper">
                        <div class="step begin-step">Bắt đầu</div>

                        <ng-container *ngFor="let s of steps; let i = index">
                              <div class="connector-slot">
                                    <div class="connector-line"></div>
                                    <div class="inline-add">
                                          <kit-action-menu [icon]="'add'" [actions]="buildAddStepAction()"></kit-action-menu>
                                    </div>
                              </div>

                              <div class="step display-flex align-items-center gap-10px" cdkDrag>
                                    <div class="step-inner" style="line-height: 1.4;">
                                          <a class="ahref-non-decoration" (click)="editStep(i); $event.preventDefault()">{{ s.name }}</a>
                                    </div>
                                    <div> 
                                          <kit-action-menu [actions]="buildStepActtions(i)"></kit-action-menu>
                                    </div>
                              </div>
                        </ng-container>

                        <div class="tail-add">
                              <kit-action-menu [icon]="'add'" [actions]="buildAddStepAction()"></kit-action-menu>
                        </div>
                  </div>
            </div>
      </div>
</div>