.shell {
      display: flex;
}

.sidebar {
      border-right: 1px solid var(--default-border-color);
      padding-right: 10px;
      width: fit-content;
}

.tab-list {
      display: flex;
      flex-direction: column;
      gap: 5px;
}

.tab-item {
      display: block;
      width: 100%;
      background-color: initial;
      border: 1px solid transparent !important;
      border-radius: var(--default-border-color-radius);
      text-align: left;
      transition: duration 80ms;
      user-select: none;
      box-sizing: border-box;
      text-decoration: none;
      padding: 5px 8px;
      color: #4c607a;
      cursor: pointer;
      font-size: 13px;

      &:hover {
            background-color: var(--main-bg-color);
      }

      &.active {
            background: linear-gradient(182deg,rgba(255, 255, 255, 1) 0%, rgba(245, 249, 255, 1) 54%, rgba(233, 241, 247, 1) 100%);
            border: 1px solid var(--default-border-color) !important;
            cursor: default;
      }
}

.content {
      padding: 0 12px;
}
