<div class="dialog">
      <div class="dialog-container">
            <form [formGroup]="form" (ngSubmit)="submit()">
                  <div class="dialog-heading">
                        <div class="dialog-title">
                              <h1>{{  dialogTitle }}</h1>
                        </div>
                        <div class="dialog-exit">
                              <button type="button" class="exit-button" (click)="close()">
                                    <span class="text material-icons-outlined">close</span>
                              </button>
                        </div>
                  </div>
                  <div class="dialog-body">
                        <div class="dialog-row">
                              <div class="form-input">
                                    <input class="" type="text" formControlName="fullName" autocomplete="on" required/>
                                    <label for="name">Họ và tên <span style="color: red;">  *</span></label>
                              </div>
                        </div>
                        <div class="dialog-row">
                              <div class="form-input">
                                    <input class="" type="text" formControlName="username" autocomplete="on" required/>
                                    <label for="username">username <span style="color: red;">  *</span></label>
                              </div>
                        </div>
                        <div class="dialog-row display-flex gap-10px">
                              <div class="width-50pt">
                                    <kit-dropdown [options]="(roleOptions$ | async) ?? []" [placeholder]="'Chọn vai trò'" (selectionChange)="onUserRoleSelected($event)"></kit-dropdown>
                              </div>
                              <div class="form-input width-50pt">
                                    <input class="" type="text" formControlName="position" autocomplete="on" required/>
                                    <label for="name">Chức vụ (HR, Kế toán, ...) <span style="color: red;">  *</span></label>
                              </div>
                        </div>
                        <div class="dialog-row">
                              <kit-dropdown [options]="(departmentOptions$ | async) ?? []" [placeholder]="'Chọn phòng ban (nếu có)'" (selectionChange)="onDepartmentSelected($event)"></kit-dropdown>
                        </div>
                        <div class="dialog-row">
                              <div class="form-input">
                                    <input class="" type="text" formControlName="employeeCode" autocomplete="on" required/>
                                    <label for="employeeCode">Mã nhân viên <span style="color: red;">  *</span></label>
                              </div>
                        </div>
                        <div class="dialog-row">
                              <div class="form-input">
                                    <input class="" type="text" formControlName="password" autocomplete="on" required/>
                                    <label for="password">Mật khẩu <span style="color: red;">  *</span></label>
                              </div>
                        </div>
                        <div class="dialog-row display-flex gap-10px">
                              <div class="form-input width-50pt">
                                    <input class="" type="text" formControlName="email" autocomplete="on" placeholder=" ">
                                    <label for="email">Email</label>
                              </div>
                              <div class="form-input width-50pt">
                                    <input class="" type="text" formControlName="phone" autocomplete="on" placeholder=" ">
                                    <label for="phone">Số điện thoại</label>
                              </div>
                        </div>
                  </div>
                  <div class="dialog-footer display-flex gap-10px">
                        <button type="button" class="button cancel-button width-50pt" (click)="close()" [disabled]="submitting">Hủy</button>
                        <kit-spinner-button type="submit" class="width-50pt" [cssClass]="'button save-button'" [loading]="submitting" [disabled]="submitting" text="Lưu" [loadingText]="'Đang xử lý'"></kit-spinner-button>
                  </div>
            </form>
      </div>
</div>