<div class="dialog">
      <div class="dialog-container">
            <div class="dialog-heading">
                  <div class="dialog-title">
                        <h1>Bảng kỳ ngân sách đang mở</h1>
                  </div>
                  <div class="dialog-exit">
                        <button type="button" class="exit-button" (click)="close()">
                              <span class="text material-icons-outlined">close</span>
                        </button>
                  </div>
            </div>
            <div class="dialog-body"></div>
            <div class="dialog-footer"></div>
      </div>
</div>