<div class="dialog">
      <form [formGroup]="form">
            <div class="dialog-container">

                  <div class="dialog-heading">
                        <div class="dialog-title">
                              <h1>Thêm kế hoạch ngân sách</h1>
                        </div>
                        <div class="dialog-close">
                              <button type="button" class="close-button" (click)="close()">
                                    <span class="text material-icons-outlined">close</span>
                              </button>
                        </div>
                  </div>

                  <div class="dialog-body">
                        <div class="dialog-row">
                              <kit-dropdown formControlName="departmentId" [options]="(departmentOptions$ | async) ?? []"  [placeholder]="'Chọn phòng ban'"  [required]="true"
                              [invalid]="showErrors && (form.get('departmentId')?.invalid ?? false)"></kit-dropdown>
                              <div class="form-input-error" *ngIf="showErrors && form.get('departmentId')?.invalid">
                                    <small>Vui lòng chọn phòng ban dưới quyền</small>
                              </div>
                        </div>
                        <div class="dialog-row">
                              <kit-dropdown formControlName="budgetPeriodId" [options]="budgetPeriodOptions"  [placeholder]="'Chọn kỳ ngân sách'"  [required]="true"
                              [invalid]="showErrors && (form.get('budgetPeriodId')?.invalid ?? false)"></kit-dropdown>
                              <div class="form-input-error" *ngIf="showErrors && form.get('budgetPeriodId')?.invalid">
                                    <small>Vui lòng chọn kỳ ngân sách</small>
                              </div>
                        </div>
                        <div class="dialog-row">
                              <kit-dropdown  [options]="budgetReviewerOptions" [placeholder]="'User xem xét'" [required]="true" [enableFilter]="false"
                              [invalid]="showErrors && (form.get('reviewerId')?.invalid ?? false)" (selectionChange)="onReviewerSelected($event)"
                              formControlName="reviewerId"></kit-dropdown>
                              <div class="form-input-error" *ngIf="showErrors && form.get('reviewerId')?.invalid">
                                    <small>Vui lòng chọn user xem xét</small>
                              </div>
                        </div>
                        <div class="dialog-row">
                              <kit-dropdown  [options]="budgetApproverOptions" [placeholder]="'User phê duyệt'" [required]="true" [enableFilter]="false"
                              [invalid]="showErrors && (form.get('approverId')?.invalid ?? false)" (selectionChange)="onApproverSelected($event)"
                              formControlName="approverId"></kit-dropdown>
                              <div class="form-input-error" *ngIf="showErrors && form.get('approverId')?.invalid">
                                    <small>Vui lòng chọn user phê duyệt</small>
                              </div>
                        </div>
                  </div>

                  <div class="dialog-footer">
                        <div class="display-flex gap-10px">
                              <button type="button" class="width-50pt button cancel-button" (click)="close()">Hủy</button>
                              <kit-spinner-button type="submit" class="width-50pt" [cssClass]="'button save-button'" [loading]="submitting" [disabled]="submitting" text="Lưu" [loadingText]="''"></kit-spinner-button>
                        </div>
                  </div>
            </div>
      </form>
</div>