<div class="dialog">
      <h2 class="modal-title">Thêm Nhà cung cấp mới</h2>

      <div [formGroup]="supplierForm">
            
            <div class="input-wrapper">
                  <div class="form-input">
                        <input class="" type="text" formControlName="name" autocomplete="on" required/>
                        <label for="name">Tên nhà cung cấp <span style="color: red;">  *</span></label>
                  </div>
            </div>

            <div class="input-wrapper">
                  <div class="form-input">
                        <input class="" type="text" formControlName="taxCode" autocomplete="on" required />
                        <label for="name">Mã số thuế <span style="color: red;">  *</span></label>
                  </div>
            </div>

            <div *ngIf="errorMessages.length" class="mt-2">
                  <div *ngFor="let msg of errorMessages" class="text-red-600 text-sm">• {{ msg }}</div>
            </div>
      </div>

      <div class="display-flex gap-10px" style="padding: 10px;">
            <button type="button" class="width-50pt button cancel-button" (click)="cancel()" [disabled]="saving">Hủy</button>
            <button type="button" class="width-50pt button save-button display-flex justify-content-center" (click)="submit()" [disabled]="saving || supplierForm.invalid">
                  {{ saving ? 'Đang lưu...' : 'Lưu' }}
            </button>
      </div>
</div>