<aside class="sidebar">
      <nav>
            <ul>
                  <li>
                        <a routerLink="/home" routerLinkActive="active">
                              <span class="sidebar-icon material-icons-round">home</span>
                              <span class="sidebar-title">Trang chủ</span>
                        </a>
                  </li>
                  <li>
                        <a routerLink="/work" routerLinkActive="active">
                              <span class="sidebar-icon material-icons-round">task</span>
                              <span class="sidebar-title">Task</span>
                        </a>
                  </li>
                  <li>
                        <a routerLink="/work" routerLinkActive="active">
                              <span class="sidebar-icon material-icons-round">chat</span>
                              <span class="sidebar-title">Tin nhắn</span>
                        </a>
                  </li>
                  <li>
                        <a routerLink="/work" routerLinkActive="active">
                              <span class="sidebar-icon material-icons-round">account_balance_wallet</span>
                              <span class="sidebar-title">Ngân sách</span>
                        </a>
                  </li>
                  <li>
                        <a routerLink="/work" routerLinkActive="active">
                              <span class="sidebar-icon material-icons-round">request_page</span>
                              <span class="sidebar-title">Thanh toán</span>
                        </a>
                  </li>
                  <li>
                        <a routerLink="/work" routerLinkActive="active">
                              <span class="sidebar-icon material-icons-round">manage_accounts</span>
                              <span class="sidebar-title">Tài khoản</span>
                        </a>
                  </li>
                  <!-- Thêm menu khác -->
            </ul>
      </nav>
</aside>
