<div class="page-container">
      <div class="page-heading">
            <div class="page-title">
                  <h3 class="icon">⚖️</h3>
                  <h3 class="title">Kế hoạch ngân sách</h3>
            </div>
            <div class="display-flex gap-10px">
                  <button type="button" class="button default-button" (click)="openBudgetPlanRequestDialog();">Chọn người duyệt mặc định</button>
                  <button type="button" class="button default-button" (click)="openBudgetPlanRequestDialog();">Thêm kế hoạch ngân sách</button>
            </div>
      </div>
      <div class="page-body">

      </div>
</div>