<div class="expense-navbar">
      <nav class="expense-navbar__container">
            <ul class="expense-navbar__list">
                  <li class="expense-navbar__item">
                        <a class="expense-navbar__link" routerLink="/expense/supplier" routerLinkActive="selected"  [routerLinkActiveOptions]="{ exact: true }">
                              <span class="expense-navbar__icon material-icons-round">contacts</span>
                              <span class="expense-navbar__name">Nhà cung cấp</span>
                        </a>
                  </li>
                  <li class="expense-navbar__item">
                        <a class="expense-navbar__link" routerLink="/expense/invoice" routerLinkActive="selected"  [routerLinkActiveOptions]="{ exact: true }">
                              <span class="expense-navbar__icon material-icons-round">receipt_long</span>
                              <span class="expense-navbar__name">Hóa đơn</span>
                        </a>
                  </li>
            </ul>
      </nav>
</div>
<div class="expense-navbar__content">
      <router-outlet></router-outlet>
</div>