.user-profile-container {
      margin-top: 20px;
}
.user-profile .avatar-img {
      width: 200px;
      height: 200px;
      border-radius: 10px;
}
.user-profile .primary-card {
      margin-left: 20px;
}
.user-profile .primary-card .row {
      margin-bottom: 20px;
}
.user-profile .card-box {
      margin-top: 10px;
      opacity: 0.7;
}
.user-profile .username {
      opacity: 0.7;
      text-align: center;
}
.user-profile .avatar-img-wrapper {
      margin: 10px 0px;
}