<div class="permission-request-dialog">
      <div class="dialog-container">
            <div class="dialog-heading">
                  <div class="dialog-title">
                        <h1 class="dialog-title">Thêm vai trò mới</h1>
                  </div>
                  <div class="dialog-close">
                        <button type="button" class="close-button" (click)="closeDialog()" aria-label="Đóng">
                              <span class="text material-icons-outlined">close</span>
                        </button>
                  </div>
            </div>
            <div class="dialog-body">
                  <form [formGroup]="form" (ngSubmit)="submit()">
                        <div class="dialog-row">
                              <div class="form-input">
                                    <input class="" type="text" formControlName="name" autocomplete="on" required/>
                                    <label for="name">Tên quyền <span style="color: red;">  *</span></label>
                                    <div class="form-input-error" *ngIf="submitting && form.get('name')?.invalid">
                                          <small>Vui lòng nhập tên quyền</small>
                                    </div>
                              </div>
                        </div>
                        <div class="dialog-row">
                              <div class="form-input">
                                    <input class="" type="text" formControlName="code" autocomplete="on" required/>
                                    <label for="name">Mã quyền <span style="color: red;">  *</span></label>
                                    <div class="form-input-error" *ngIf="submitting && form.get('code')?.invalid">
                                          <small>Vui lòng nhập mã quyền</small>
                                    </div>
                              </div>
                        </div>
                        <div class="dialog-row">
                              <div class="form-input">
                                    <input class="" type="text" formControlName="description" autocomplete="on" />
                                    <label for="description">Mô tả </label>
                              </div>
                        </div>

                        <div class="form-actions display-flex gap-10px">
                              <button type="button" class="width-50pt button cancel-button" (click)="closeDialog()">Hủy</button>
                              <button type="submit" class="width-50pt button save-button display-flex justify-content-center" [disabled]="submitting">
                                    {{ submitting ? 'Đang lưu...' : 'Lưu' }}
                              </button>
                        </div>
                  </form>
            </div>
      </div>
</div>