<div class="login-container">
      <div class="logo-container">
            <div class="logo-wrapper">
                  <img src="thaituanlogo.png" alt="thaituangroup-logo" class="thaituan-logo" />
            </div>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
            <div class="form-group">
                  <label for="username">Mã nhân viên</label>
                  <input type="text" formControlName="employeeCode" />
                  <div class="alert-message danger-alert" *ngIf="submitted && loginForm.get('employeeCode')?.invalid && !alertClosed.employeeCode">
                        Mã nhân viên không được để trống
                        <button type="button" class="close-btn" (click)="closeAlert('employeeCode')">×</button>
                  </div>
            </div>
            <div class="form-group">
                  <label for="password">Mật khẩu</label>
                  <div class="password-wrapper">
                        <input [type]="showPassword ? 'text' : 'password'" formControlName="password" />
                        <div class="icon-wrapper">
                              <img [src]="'assets/icons/' + (showPassword ? 'eye-off.svg' : 'eye.svg')" class="toggle-password" width="24" height="24" alt="Toggle visibility" (click)="togglePassword()" />
                        </div>
                  </div>
                  <div class="alert-message danger-alert" *ngIf="submitted && loginForm.get('password')?.invalid && !alertClosed.password">
                        Mật khẩu không được để trống
                        <button type="button" class="close-btn" (click)="closeAlert('password')">×</button>
                  </div>
            </div>
            <p *ngIf="message && !alertClosed.global" class="alert-message danger-alert">
                  {{ message }}
                  <button type="button" class="close-btn" (click)="closeAlert('global')">×</button>
            </p>
            <div class="button-wrapper">
                  <button role="button" class="button-login" type="submit" [disabled]="isLoading">
                        {{ isLoading ? 'Đang xử lý...' : 'Đăng nhập' }}
                  </button>
            </div>
            
      </form>
</div>
