<div class="login-container">
      <div class="logo-container">
            <div class="logo-wrapper">
                  <img src="thaituanlogo.png" alt="thaituangroup-logo" class="thaituan-logo" />
            </div>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
            <div class="form-group">
                  <label for="username">Mã nhân viên</label>
                  <input type="text" formControlName="employeeCode" />
                  <app-field-error [control]="loginForm.get('employeeCode')" [submitted]="submitted">Mã nhân viên không được để trống</app-field-error>
            </div>
            <div class="form-group">
                  <label for="password">Mật khẩu</label>
                  <div class="password-wrapper">
                        <input [type]="showPassword ? 'text' : 'password'" formControlName="password" />
                        <div class="icon-wrapper">
                              <img [src]="'assets/icons/' + (showPassword ? 'eye-off.svg' : 'eye.svg')" class="toggle-password" width="24" height="24" alt="Toggle visibility" (click)="togglePassword()" />
                        </div>
                  </div>
                  <app-field-error [control]="loginForm.get('password')" [submitted]="submitted">Mật khẩu không được để trống</app-field-error>
            </div>
            <app-alert-message [visible]="!!message" type="danger-alert" (closed)="message = null">{{ message }}</app-alert-message>
            <div class="button-wrapper">
                  <button role="button" class="button-login" type="submit" [disabled]="isLoading">
                        {{ isLoading ? 'Đang xử lý...' : 'Đăng nhập' }}
                  </button>
            </div>
            
      </form>
</div>
