.payment-name:hover  {
      color: var(--bright-blue-color);
      cursor: pointer;
      text-decoration: underline;
}

.approver-avatar {
      width: 30px;
      height: 30px;
      border-radius: 50%;
}