<div class="dialog">
      <div class="dialog-container">
            <div class="dialog-heading">
                  <div class="dialog-title">
                        <h1>Chi tiết ngân sách</h1>
                  </div>
                  <div class="dialog-close">
                        <button type="button" class="close-button" (click)="close()">
                              <span class="text material-icons-outlined">close</span>
                        </button>
                  </div>
            </div>
            <div class="dialog-body">
                  <table class="table">
                        <thead>
                              <tr>
                                    <th>#</th>
                                    <th>Mã ngân sách</th>
                                    <th>Kỳ ngân sách</th>
                                    <th>Tiền</th>
                                    <th>Xem xét</th>
                                    <th>Phê duyệt</th>
                                    <th>Ngày tạo</th>
                              </tr>
                        </thead>
                        <tbody>
                              <ng-container *ngIf="budgetPlans.length > 0">
                                    <tr *ngFor="let plan of budgetPlans; trackBy: trackById; let i = index;">
                                          <td>{{ i + 1 }}</td>
                                          <td>{{ plan.budgetCode.name }}</td>
                                          <td>T{{plan.budgetPeriod.month}}/{{plan.budgetPeriod.year}}</td>
                                          <td>{{ plan.amount| number: '1-0-0'}} VNĐ</td>
                                          <td>
                                                <input type="checkbox" [checked]="plan.isReviewed" disabled />
                                          </td>
                                          <td>
                                                <input type="checkbox" [checked]="plan.isApproved" disabled />
                                          </td>
                                          <td>{{ plan.createdDate | date:'dd/MM/yyyy'  }}</td>
                                    </tr>
                              </ng-container>
                              <ng-container *ngIf="budgetPlans.length === 0">
                                    <td colspan="8" class="text-center">Không có dữ liệu.</td>
                              </ng-container>
                        </tbody>
                  </table>
            </div>
            <div class="dialog-footer"></div>
      </div>
</div>