<div class="dialog">
      <div class="dialog-container">
            <div class="dialog-heading">
                  <ng-container *ngIf="canReview">
                        <div class="display-flex align-items-center">
                              <kit-spinner-button type="button" cssClass="save-button" [loading]="submitting" text="Gửi phê duyệt"></kit-spinner-button>
                        </div>
                  </ng-container>
                  <div class="dialog-title">
                        <h1>Chi tiết ngân sách</h1>
                  </div>
                  <div class="dialog-close">
                        <button type="button" class="close-button" (click)="close(false)">
                              <span class="text material-icons-outlined">close</span>
                        </button>
                  </div>
            </div>
            <div class="dialog-body">
                  <table class="table">
                        <thead>
                              <tr>
                                    <th>#</th>
                                    <th>Mã ngân sách</th>
                                    <th>Kinh phí</th>
                                    <ng-container *ngIf="canReview">
                                          <th>Chỉnh sửa</th>
                                    </ng-container>
                              </tr>
                        </thead>
                        <tbody>
                              <tr *ngFor="let detail of budgetPlan.details; let i = index;">
                                    <td>{{ i + 1 }}</td>
                                    <td>{{ detail.budgetCode.name }}</td>
                                    <td>{{ detail.amount | number:'1.0-0' }}</td>
                                    <ng-container *ngIf="canReview">
                                          <td>
                                                <button class="button icon-button" >
                                                      <span class="material-icons-round">create</span>
                                                </button>
                                          </td>
                                    </ng-container>
                              </tr>
                        </tbody>
                  </table>
            </div>
      </div>
</div>