<h1 class="dialog-title">Hóa đơn bạn đã tải</h1>
<div class="dialog-body">
      <table>
            <thead>
                  <tr>
                        <th>Tên hóa đơn</th>
                        <th>Trạng thái</th>
                        <th>Số hóa đơn</th>
                        <th>Ngày lập hóa đơn</th>
                        <th>Tổng tiền thanh toán</th>
                        <th></th>
                  </tr>
            </thead>
            <tbody>
                  <tr>
                        <td></td>
                  </tr>
            </tbody>
      </table>

</div>