<div class="dialog">
      <div class="dialog-container">
            <div class="dialog-heading">
                  <h1 class="dialog-title">{{ formTitle }}</h1>
                  <div class="dialog-close">
                        <button type="button" class="close-button">
                              <span class="text material-icons-outlined" (click)="close()">close</span>
                        </button>
                  </div>
            </div>
            <form class="dialog-body" [formGroup]="form">
                  <div class="dialog-row">
                        <div class="form-input">
                              <input class="" type="text" formControlName="name" autocomplete="on" required/>
                              <label for="name">Tên bước <span style="color: red;">  *</span></label>
                        </div>
                  </div>
                  <div class="dialog-row">
                        <kit-dropdown [options]="flowTypeOptions" [placeholder]="'Chọn luồng duyệt'" formControlName="flowType" (selectionChange)="onFlowTypeSelected($event)" [width]="'100%'"></kit-dropdown>
                  </div>
                  <div class="dialog-row">
                        <kit-dropdown [options]="(userOptions$ | async) ?? []" [placeholder]="'Chọn người duyệt'" [multiple]="true" formControlName="approverIds" (selectionChange)="onApproverSelected($event)" [width]="'100%'"></kit-dropdown>
                  </div>
                  <div class="dialog-row">
                        <div class="form-input">
                              <input class="" type="number" formControlName="sla" autocomplete="on" required/>
                              <label for="name">SLA (giờ)</label>
                        </div>
                  </div>
                  <div class="dialog-row">
                        <div class="dialog-buttons">
                              <button type="button" class="width-50pt button cancel-button" (click)="close()">Hủy</button>
                              <button type="button" class="width-50pt button save-button d-flex justify-content-center" (click)="save()">
                                    {{ submitting ? 'Đang lưu...' : 'Lưu' }}
                              </button>
                        </div>
                  </div>
            </form>
      </div>
</div>