<div class="kit-dropdown" role="combobox" [attr.aria-expanded]="isOpen" [attr.aria-disabled]="disabled" aria-haspopup="listbox" tabindex="0" [style.width]="computedWidth" [class.has-value]="hasValue" [class.active]="isOpen">
      <div class="kit-dropdown-select" (click)="onToggle()">
              <!-- SINGLE  -->
            <ng-container *ngIf="!multiple; else multiSelected">
                  
                  <ng-container *ngIf="selectedLabel" >
                        <img *ngIf="selectedImgUrl" [src]="selectedImgUrl" class="option-img" />
                        <span>{{ selectedLabel }}</span>
                  </ng-container>
            </ng-container>


            <!-- MULTIPLE -->
            <ng-template #multiSelected>
                  <ng-container *ngIf="selectedOptions.length; else placeholderTpl">
                        <div class="multi-selection">
                              <button class="multi-selected" *ngFor="let opt of selectedOptions" 
                              tabindex="0"
                              (click)="remove(opt.id); $event.stopPropagation()" 
                              (keydown.enter)="remove(opt.id); $event.stopPropagation()"
                              (keydown.space)="remove(opt.id); $event.preventDefault(); $event.stopPropagation()">
                                    <img *ngIf="opt.imgUrl" [src]="opt.imgUrl" class="option-img" alt="" />
                                    <span class="">{{ opt.label }}</span>
                              </button>
                        </div>
                  </ng-container>

                  <ng-template #placeholderTpl>
                        <label class="placeholder-text">{{ placeholder }}</label>
                  </ng-template>
            </ng-template>
      </div>

      <ul class="kit-dropdown-menu" role="listbox" [@slide]="isOpen ? 'open' : 'closed'">
            <!-- Filter bar -->
            <li *ngIf="enableFilter" class="kit-dropdown-filter" (keydown)="onFilterKeydown($event)" #optRef>
                  <input #filterInput type="text" [placeholder]="filterPlaceholder"
                  [value]="filterText"
                  (input)="onFilterInput($event)"
                  (keydown)="onFilterKeydown($event)" />
            </li>

            <!-- No result state -->
            <li class="no-result" *ngIf="filteredOptions.length === 0">Không tìm thấy kết quả</li>

            <li #optRef role="option" *ngFor="let opt of filteredOptions; let i = index"
            [attr.aria-selected]="i === focusedIndex"
            [class.active]="i === focusedIndex"
            [class.selected] = "isSelected(opt.id)"
            (click)="selectOption(opt)">
                  <span class="check" *ngIf="multiple" [class.d-none]="!isSelected(opt.id)">{{ isSelected(opt.id) ? '✔' : '' }}</span>
                  <img *ngIf="opt.imgUrl" [src]="opt.imgUrl" class="option-img" alt="" />
                  <span>{{ opt.label }}</span>
            </li>
      </ul>

      <label class="placeholder-text">
            {{ placeholder }}
            <span *ngIf="required" style="color: red;"> * </span>
      </label>
</div>
