<div class="kit-dropdown" role="combobox" [attr.aria-expanded]="isOpen" [attr.aria-disabled]="disabled" aria-haspopup="listbox" tabindex="0" [style.width]="computedWidth">
      <div class="kit-dropdown-select" (click)="onToggle()">
            <img *ngIf="selectedImgUrl" [src]="selectedImgUrl" class="option-img" />
            <span>{{ selectedLabel || placeholder }}</span>
      </div>

      <ul class="kit-dropdown-menu" role="listbox" [@slide]="isOpen ? 'open' : 'closed'">
            <!-- Filter bar -->
            <li *ngIf="enableFilter" class="kit-dropdown-filter" (keydown)="onFilterKeydown($event)">
                  <input #filterInput type="text" [placeholder]="filterPlaceholder"
                  [value]="filterText"
                  (input)="onFilterInput($event)"
                  (keydown)="onFilterKeydown($event)" />
            </li>
            <!-- No result state -->
            <li class="no-result" *ngIf="filteredOptions.length === 0">Không tìm thấy kết quả</li>

            <li #optRef role="option" *ngFor="let opt of filteredOptions; let i = index"
            [attr.aria-selected]="i === focusedIndex"
            [class.active]="i === focusedIndex"
            (click)="selectOption(opt)">
                  <img *ngIf="opt.imgUrl" [src]="opt.imgUrl" class="option-img" />
                  <span>{{ opt.label }}</span>
            </li>
      </ul>
</div>
