:root {
      --button-default-bgColor-rest: #f6f8fa;
      --button-default-shadow-resting: 0px 1px 0px 0px #1f23280a;
      --button-default-color-rest: #25292e;
}

button, .button { 
      font-family: 'Lexend', sans-serif; 
      font-size: 12px; 
      padding: 10px 10px;
      border-radius: 5px;
      height: fit-content;
      border: 1px solid !important;
}

// *** default button ***
.default-button { background-color: #f6f8fa; box-shadow: 0px 1px 0px 0px #1f23280a; color: #696e75; cursor: pointer; user-select: none; border: 1px solid #d1d9e0 !important; }
.default-button:hover { transition-duration: 80ms; background-color: #eff2f5; color: #25292e;}

// *** button-1 ***
.button-1 { border: none; display: flex; background-color: #488aec; color: #ffffff; font-weight: 700; text-align: center; cursor: pointer; vertical-align: middle; align-items: center; border-radius: 0.5rem; user-select: none; gap: 0.75rem; box-shadow: 0 4px 6px -1px #488aec31, 0 2px 4px -1px #488aec17; transition: all 0.6s ease; }
.button-1:hover { box-shadow: 0 10px 15px -3px #488aec4f, 0 4px 6px -2px #488aec17; }
.button-1:focus, .button-1:active { opacity: 0.85; box-shadow: none; }

// *** button-stackoverflow***
.button-stackoverflow { background-color: #0095ff; border: 1px solid transparent; border-radius: 3px; box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset; box-sizing: border-box; color: #fff; cursor: pointer; display: inline-block; font-weight: 400; margin: 0; outline: none; position: relative; text-align: center; text-decoration: none; user-select: none; -webkit-user-select: none; touch-action: manipulation; vertical-align: baseline; white-space: nowrap; }
.button-stackoverflow:hover, .button-stackoverflow:focus { background-color: #07c; }
.button-stackoverflow:focus { box-shadow: 0 0 0 4px rgba(0, 149, 255, .15); }
.button-stackoverflow:active { background-color: #0064bd; box-shadow: none; }

// *** button-download ***
.button-download { display: inline-block; position: relative; background-color: #4CC713; color: white; text-decoration: none; text-align: center; text-indent: 30px; border: none; border-radius: 5px; }
.button-download:hover { background-color: #45a21a; color: white; cursor: pointer; }
.button-download:before, .button-download:after { content: ' '; display: block; position: absolute; left: 15px; top: 52%; }
.button-download:before { width: 10px; height: 2px; border-style: solid; border-width: 0 2px 2px; border-color: #cdefbd; }
.button-download:after { width: 0; height: 0; margin-left: 3px; margin-top: -7px; border-style: solid; border-width: 4px 4px 0 4px; border-color: transparent; border-top-color: inherit; animation: download-arrow 1s linear infinite; animation-play-state: paused;  border-top-color: #cdefbd; animation-play-state: running; }
@keyframes download-arrow { 0% { margin-top: -7px; opacity: 1; } 0.001% { margin-top: -15px; opacity: 0.4; } 50% { opacity: 1; } 100% { margin-top: 0; opacity: 0.4; }}

// *** button-noor ***
.button-noor { align-items: center; appearance: button; background-color: #0276FF; border-radius: 8px; border-style: none; box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset; box-sizing: border-box; color: #fff; cursor: pointer; display: flex; flex-direction: row; flex-shrink: 0; margin: 0; text-align: center; text-transform: none; transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out; user-select: none; -webkit-user-select: none; touch-action: manipulation; }
.button-noor:active { background-color: #006AE8; }
.button-noor:hover { background-color: #1C84FF; }

/*** danger-button ***/
.danger-button { align-items: center; background-color: #FFE7E7; background-position: 0 0; border: 2px solid #FEE0E0 !important; border-radius: 5px; box-sizing: border-box; color: #D33A2C; cursor: pointer; display: flex ; font-weight: 700; text-align: left; text-decoration: none; text-shadow: none; text-underline-offset: 1px; transition: border .2s ease-in-out,box-shadow .2s ease-in-out; user-select: none; -webkit-user-select: none; touch-action: manipulation; white-space: nowrap; word-break: break-word; border-color: transparent !important; transition: all ease 0.5s; }
.danger-button:active, .danger-button:hover, .danger-button:focus { outline: 0; }
.danger-button:active { background-color: #D33A2C; box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset; color: #FFFFFF; }
.danger-button:hover { background-color: #FFE3E3; border-color: #FAA4A4 !important; }
.danger-button:active:hover, .danger-button:focus:hover, .danger-button:focus { background-color: #D33A2C; box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset; color: #FFFFFF; }

/*** icon-button ***/
.icon-button { background-color: #007ACC; outline: 2px #007ACC solid; outline-offset: -2px; border-radius: 5px; border: none; cursor: pointer; transition: 400ms; }
.icon-button .text { color: white; font-size: 22px; transition: 400ms; }
.icon-button:hover { background-color: transparent; }
.icon-button:hover .text { color: #007ACC; }

/*** link-button ***/
.link-button { color: var(--ultramarin); background-color: var(--light-blue-color); border-color: none !important; border: none !important; border-bottom: 2px solid var(--ultramarin) !important; border-radius: unset; border-top-left-radius: 5px; border-top-right-radius: 5px; }
.link-button:hover { cursor: pointer; background-color: azure; }

/*** text-button ***/
.text-button { color: var(--ultramarin); background-color: transparent; border: none !important;}
.text-button:hover { text-decoration: underline; cursor: pointer;}

/* cancel */
.cancel-button { 
      border: none  !important; background: #6E6D70;
      box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12); 
      color: white; user-select: none; -webkit-user-select: none; touch-action: manipulation; 
}
.cancel-button:focus { box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5); outline: 0; }
.cancel-button:hover { cursor: pointer; opacity: 0.8; }

/* save */   
// .save-button { align-items: center; appearance: button; background-color: #0276FF; box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset; box-sizing: border-box; color: #fff; cursor: pointer; display: flex; flex-direction: row; flex-shrink: 0; margin: 0; text-align: center; text-transform: none; transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out; user-select: none; -webkit-user-select: none; touch-action: manipulation; border: none !important;}
// .save-button:active { background-color: #006AE8; }
// .save-button:hover { background-color: #1C84FF; }

.save-button { background-color: var(--bright-blue-color); cursor: pointer; transition: all ease-in-out 0.2s; color: white !important; border: none !important; box-shadow: 0px 4px 6px -1px #0276FF31, 0px 2px 4px -1px #0276FF17; user-select: none; -webkit-user-select: none; touch-action: manipulation; }
.save-button:hover { background-color: #0071e2; }
/* submit */
/* CSS */
.submit-button { appearance: none; backface-visibility: hidden; background-color: #27ae60; border-radius: 8px; border-style: none; box-shadow: rgba(39, 174, 96, .15) 0 4px 9px; box-sizing: border-box; color: #fff; cursor: pointer; display: inline-block; font-weight: 600; letter-spacing: normal; line-height: 1.5; outline: none; overflow: hidden; position: relative; text-align: center; text-decoration: none; transform: translate3d(0, 0, 0); transition: all .3s; user-select: none; -webkit-user-select: none; touch-action: manipulation; vertical-align: top; white-space: nowrap; }
.submit-button:hover { background-color: #1e8449; opacity: 1; transform: translateY(0); transition-duration: .35s; }
.submit-button:active { transform: translateY(2px); transition-duration: .35s; }
.submit-button:hover { box-shadow: rgba(39, 174, 96, .2) 0 6px 12px; }

/* close-button */
.close-button { padding: unset !important; border: none !important; background-color: unset !important; cursor: pointer; outline: none; box-shadow: none;}
.close-button span { font-weight: bold; font-size: 25px !important;  color: #ffa8a8; transition: color 0.5s ease-in-out; }
.close-button:hover span { color: red; }

/* plus-button */
.plus-button { border: 2px solid lightgrey; background-color: #fff; font-size: 16px; height: 2.5em; width: 2.5em; border-radius: 999px; position: relative;
	&:after, &:before { content: ""; display: block; background-color: grey; position: absolute; top: 50%; left: 50%; ;transform: translate(-50%, -50%); }
	&:before { height: 1em; width: 0.2em; }
	&:after { height: 0.2em; width: 1em; }
	&:hover { cursor: pointer; }
}
.plus-button--small { font-size: 12px; }

.pintura-button { background: linear-gradient(to bottom right, #EF4765, #FF9A5A); border: 0 !important; color: #FFFFFF; cursor: pointer; display: inline-block; font-weight: 500; line-height: 2.5; outline: transparent; padding: 0 1rem !important;  text-align: center; text-decoration: none; transition: box-shadow .2s ease-in-out; user-select: none; -webkit-user-select: none; touch-action: manipulation; white-space: nowrap; }
.pintura-button:not([disabled]):focus { box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5); }
.pintura-button:not([disabled]):hover { box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5); }

.blue-button { border: none !important; color: white; 
      background-image: linear-gradient(to right bottom, #0c30d6, #0042df, #0053e7, #0062ed, #0070f3, #0078f3, #0080f2, #0087f1, #0d8aea, #1f8de3, #2f90db, #3d92d3);
      background-size: 100% auto; padding: 0.6em 1.5em !important; cursor: pointer; }
.blue-button:hover { background-position: right center; background-size: 200% auto; -webkit-animation: pulse 2s infinite; animation: pulse512 1.5s infinite; }
@keyframes pulse512 {
      0% { box-shadow: 0 0 0 0 #05bada66; }
      70% { box-shadow: 0 0 0 10px rgb(218 103 68 / 0%); }
      100% { box-shadow: 0 0 0 0 rgb(218 103 68 / 0%); }
}

.button-login { padding: 0.6em 2em; border: none; outline: none; color: rgb(255, 255, 255); background: #7E133D; cursor: pointer; position: relative; z-index: 0; border-radius: 10px; user-select: none; -webkit-user-select: none; touch-action: manipulation; transition: all 1s ease; font-weight: bold; }
.button-login:hover { opacity: 1.7; }
.button-login:before { content: "";
      background: linear-gradient( 45deg, #FF0937, #9c013f, #be024d, #b13064, #dd0058, #d15385, #eb689c, #ff92bd, #ff4590);
      position: absolute; top: -2px; left: -2px; background-size: 400%; z-index: -1; filter: blur(5px); -webkit-filter: blur(5px); width: calc(100% + 4px); height: calc(100% + 4px); animation: glowing-button-85 20s linear infinite; transition: opacity 0.3s ease-in-out; border-radius: 10px;
}
@keyframes glowing-button-85 {
	0% { background-position: 0 0; }
	50% { background-position: 400% 0; } 
	100% { background-position: 0 0; }
}
.button-login::after { z-index: -1; content: ""; position: absolute; width: 100%; height: 100%; background: #7E133D; left: 0; top: 0; border-radius: 10px; }

.kit-icon-button { 
	display: flex; padding: 5px 10px;  border: 1px solid var(--default-border-color) !important; border-radius: 5px;   background-color: var(--main-bg-color);  transition: duration ease 80ms;
	&:hover { cursor: pointer; background-color: white !important; }
}

