button, .button { 
      font-family: 'Lexend', sans-serif; 
      font-size: 12px; 
      padding: 7px 10px;
}

// *** button-1 ***
.button-1 { border: none; display: flex; background-color: #488aec; color: #ffffff; font-weight: 700; text-align: center; cursor: pointer; vertical-align: middle; align-items: center; border-radius: 0.5rem; user-select: none; gap: 0.75rem; box-shadow: 0 4px 6px -1px #488aec31, 0 2px 4px -1px #488aec17; transition: all 0.6s ease; }
.button-1:hover { box-shadow: 0 10px 15px -3px #488aec4f, 0 4px 6px -2px #488aec17; }
.button-1:focus, .button-1:active { opacity: 0.85; box-shadow: none; }

// *** primary-button ***
.primary-button { padding: 0.5em 2em; border: transparent; background: dodgerblue; color: white; border-radius: 4px; }
.primary-button:hover { background: rgb(2,0,36); background: linear-gradient(90deg, rgba(30,144,255,1) 0%, rgba(0,212,255,1) 100%); cursor: pointer;}
// .primary-button:active { transform: translate(0em, 0.2em); }

.danger-button { padding: 0.5em 2em; border: transparent; box-shadow: 2px 2px 4px rgba(0,0,0,0.4); background: rgb(245, 11, 11); color: white; border-radius: 4px; }
.danger-button:hover { background: rgb(2,0,36); background: linear-gradient(90deg, rgb(255, 64, 30) 0%, rgb(255, 153, 0) 100%); cursor: pointer;}
.danger-button:active { transform: translate(0em, 0.2em); }

// *** button-github ***
.button-github { appearance: none; background-color: #FAFBFC; border: 1px solid rgba(27, 31, 35, 0.15); border-radius: 6px; box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset; box-sizing: border-box; color: #24292E; cursor: pointer; display: inline-block; font-weight: 500; list-style: none; position: relative; transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1); user-select: none; -webkit-user-select: none; touch-action: manipulation; vertical-align: middle; white-space: nowrap; word-wrap: break-word; }
.button-github:hover { background-color: #F3F4F6; text-decoration: none; transition-duration: 0.1s; cursor: pointer; }
.button-github:active { background-color: #EDEFF2; box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset; transition: none 0s; }
.button-github:focus { outline: 1px transparent; }
.button-github:before { display: none; }
.button-github:-webkit-details-marker { display: none; }

// *** button-login ***
.button-login { font-family: 'Lexend', 'Courier New', Courier, monospace; border: none; outline: none; color: rgb(255, 255, 255); background: rgb(77, 76, 76); cursor: pointer; position: relative; z-index: 0; border-radius: 10px; user-select: none; -webkit-user-select: none; touch-action: manipulation; }
.button-login:before { content: ""; background: linear-gradient( 45deg,#ff0000,#ff7300,#fffb00,#48ff00,#00ffd5,#002bff,#7a00ff,#ff00c8,#ff0000 ); position: absolute; top: -2px; left: -2px; background-size: 400%; z-index: -1; filter: blur(5px); -webkit-filter: blur(5px); width: calc(100% + 4px); height: calc(100% + 4px); animation: glowing-button-login 20s linear infinite; transition: opacity 0.3s ease-in-out; border-radius: 10px; }
@keyframes glowing-button-login { 0% { background-position: 0 0; } 50% { background-position: 400% 0; } 100% { background-position: 0 0; } }
.button-login:after { z-index: -1; content: ""; position: absolute; width: 100%; height: 100%; background: rgb(44, 27, 27); left: 0; top: 0; border-radius: 10px; }

// *** button-62 ***
.button-62 { background: linear-gradient(to bottom right, #EF4765, #FF9A5A); border: 0;border-radius: 12px; color: #FFFFFF; cursor: pointer; display: inline-block; font-weight: 500; outline: transparent; text-align: center; text-decoration: none; transition: box-shadow .2s ease-in-out; user-select: none; -webkit-user-select: none; touch-action: manipulation; white-space: nowrap; }
.button-62:focus { box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5); }
.button-62:hover { box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5); }

// *** button-stackoverflow***
.button-stackoverflow { background-color: #0095ff; border: 1px solid transparent; border-radius: 3px; box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset; box-sizing: border-box; color: #fff; cursor: pointer; display: inline-block; font-weight: 400; margin: 0; outline: none; position: relative; text-align: center; text-decoration: none; user-select: none; -webkit-user-select: none; touch-action: manipulation; vertical-align: baseline; white-space: nowrap; }
.button-stackoverflow:hover, .button-stackoverflow:focus { background-color: #07c; }
.button-stackoverflow:focus { box-shadow: 0 0 0 4px rgba(0, 149, 255, .15); }
.button-stackoverflow:active { background-color: #0064bd; box-shadow: none; }

// *** button-download ***
.button-download { display: inline-block; position: relative; background-color: #4CC713; color: white; text-decoration: none; text-align: center; text-indent: 30px; border: none; border-radius: 5px; }
.button-download:hover { background-color: #45a21a; color: white; cursor: pointer; }
.button-download:before, .button-download:after { content: ' '; display: block; position: absolute; left: 15px; top: 52%; }
.button-download:before { width: 10px; height: 2px; border-style: solid; border-width: 0 2px 2px; border-color: #cdefbd; }
.button-download:after { width: 0; height: 0; margin-left: 3px; margin-top: -7px; border-style: solid; border-width: 4px 4px 0 4px; border-color: transparent; border-top-color: inherit; animation: download-arrow 1s linear infinite; animation-play-state: paused;  border-top-color: #cdefbd; animation-play-state: running; }
@keyframes download-arrow { 0% { margin-top: -7px; opacity: 1; } 0.001% { margin-top: -15px; opacity: 0.4; } 50% { opacity: 1; } 100% { margin-top: 0; opacity: 0.4; }}

// *** button-noor ***
.button-noor { align-items: center; appearance: button; background-color: #0276FF; border-radius: 8px; border-style: none; box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset; box-sizing: border-box; color: #fff; cursor: pointer; display: flex; flex-direction: row; flex-shrink: 0; margin: 0; text-align: center; text-transform: none; transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out; user-select: none; -webkit-user-select: none; touch-action: manipulation; }
.button-noor:active { background-color: #006AE8; }
.button-noor:hover { background-color: #1C84FF; }

/*** cancel-button ***/
.cancel-button { align-items: center; background-color: #FFE7E7; background-position: 0 0; border: 1px solid #FEE0E0; border-radius: 5px; box-sizing: border-box; color: #D33A2C; cursor: pointer; display: flex ; font-weight: 700; text-align: left; text-decoration: none; text-shadow: none; text-underline-offset: 1px; transition: border .2s ease-in-out,box-shadow .2s ease-in-out; user-select: none; -webkit-user-select: none; touch-action: manipulation; white-space: nowrap; word-break: break-word; border: 2px solid transparent; transition: all ease 0.5s; }
.cancel-button:active, .cancel-button:hover, .cancel-button:focus { outline: 0; }
.cancel-button:active { background-color: #D33A2C; box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset; color: #FFFFFF; }
.cancel-button:hover { background-color: #FFE3E3; border: 2px solid #FAA4A4; }
.cancel-button:active:hover, .cancel-button:focus:hover, .cancel-button:focus { background-color: #D33A2C; box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset; color: #FFFFFF; }