// =========| getcssscan |============

// *** button-1 ***
.button-1 { border: none; display: flex; padding: 0.75rem 1.5rem; background-color: #488aec; color: #ffffff; font-size: 0.75rem; line-height: 1rem; font-weight: 700; text-align: center; cursor: pointer; vertical-align: middle; align-items: center; border-radius: 0.5rem; user-select: none; gap: 0.75rem; box-shadow: 0 4px 6px -1px #488aec31, 0 2px 4px -1px #488aec17; transition: all 0.6s ease; }
.button-1:hover { box-shadow: 0 10px 15px -3px #488aec4f, 0 4px 6px -2px #488aec17; }
.button-1:focus, .button-1:active { opacity: 0.85; box-shadow: none; }

// *** button-4 ***
.button-4 { appearance: none; background-color: #FAFBFC; border: 1px solid rgba(27, 31, 35, 0.15); border-radius: 6px; box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset; box-sizing: border-box; color: #24292E; cursor: pointer; display: inline-block; font-size: 14px; font-weight: 500; line-height: 20px; list-style: none; padding: 6px 16px; position: relative; transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1); user-select: none; -webkit-user-select: none; touch-action: manipulation; vertical-align: middle; white-space: nowrap; word-wrap: break-word; }
.button-4:hover { background-color: #F3F4F6; text-decoration: none; transition-duration: 0.1s; cursor: pointer; }
.button-4:active { background-color: #EDEFF2; box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset; transition: none 0s; }
.button-4:focus { outline: 1px transparent; }
.button-4:before { display: none; }
.button-4:-webkit-details-marker { display: none; }

// *** button-login ***
.button-login { font-family: 'Lexend', 'Courier New', Courier, monospace; padding: 0.6em 2em; border: none; outline: none; color: rgb(255, 255, 255); background: rgb(77, 76, 76); cursor: pointer; position: relative; z-index: 0; border-radius: 10px; user-select: none; -webkit-user-select: none; touch-action: manipulation; }
.button-login:before { content: ""; background: linear-gradient( 45deg,#ff0000,#ff7300,#fffb00,#48ff00,#00ffd5,#002bff,#7a00ff,#ff00c8,#ff0000 ); position: absolute; top: -2px; left: -2px; background-size: 400%; z-index: -1; filter: blur(5px); -webkit-filter: blur(5px); width: calc(100% + 4px); height: calc(100% + 4px); animation: glowing-button-login 20s linear infinite; transition: opacity 0.3s ease-in-out; border-radius: 10px; }
@keyframes glowing-button-login { 0% { background-position: 0 0; } 50% { background-position: 400% 0; } 100% { background-position: 0 0; } }
.button-login:after { z-index: -1; content: ""; position: absolute; width: 100%; height: 100%; background: rgb(44, 27, 27); left: 0; top: 0; border-radius: 10px; }

// *** button-62 ***
.button-62 { background: linear-gradient(to bottom right, #EF4765, #FF9A5A); border: 0;border-radius: 12px; color: #FFFFFF; cursor: pointer; display: inline-block; font-weight: 500; line-height: 2.5; outline: transparent; padding: 0 1rem; text-align: center; text-decoration: none; transition: box-shadow .2s ease-in-out; user-select: none; -webkit-user-select: none; touch-action: manipulation; white-space: nowrap; }
.button-62:focus { box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5); }
.button-62:hover { box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5); }

// *** button-stackoverflow***
.button-stackoverflow { background-color: #0095ff; border: 1px solid transparent; border-radius: 3px; box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset; box-sizing: border-box; color: #fff; cursor: pointer; display: inline-block; font-size: 13px; font-weight: 400; line-height: 1.15385; margin: 0; outline: none; padding: 8px .8em; position: relative; text-align: center; text-decoration: none; user-select: none; -webkit-user-select: none; touch-action: manipulation; vertical-align: baseline; white-space: nowrap; }
.button-stackoverflow:hover, .button-stackoverflow:focus { background-color: #07c; }
.button-stackoverflow:focus { box-shadow: 0 0 0 4px rgba(0, 149, 255, .15); }
.button-stackoverflow:active { background-color: #0064bd; box-shadow: none; }

// *** button-download ***
.button-download { display: inline-block; position: relative; padding: 6px; background-color: #4CC713; color: white; font-family: 'Lexend', sans-serif; text-decoration: none; font-size: 13px; text-align: center; text-indent: 30px; border: none; border-radius: 5px; }
.button-download:hover { background-color: #45a21a; color: white; cursor: pointer; }
.button-download:before, .button-download:after { content: ' '; display: block; position: absolute; left: 15px; top: 52%; }
.button-download:before { width: 10px; height: 2px; border-style: solid; border-width: 0 2px 2px; }
.button-download:after { width: 0; height: 0; margin-left: 3px; margin-top: -7px; border-style: solid; border-width: 4px 4px 0 4px; border-color: transparent; border-top-color: inherit; animation: download-arrow 1s linear infinite; animation-play-state: paused; }
.button-download:hover:before { border-color: #cdefbd; }
.button-download:hover:after { border-top-color: #cdefbd; animation-play-state: running; }
@keyframes download-arrow { 0% { margin-top: -7px; opacity: 1; } 0.001% { margin-top: -15px; opacity: 0.4; } 50% { opacity: 1; } 100% { margin-top: 0; opacity: 0.4; }}


.container-btn-file {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: #307750;
  color: #fff;
  border-style: none;
  padding: 1em 2em;
  border-radius: 0.5em;
  overflow: hidden;
  z-index: 1;
  box-shadow: 4px 8px 10px -3px rgba(0, 0, 0, 0.356);
  transition: all 250ms;
}
.container-btn-file input[type="file"] {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.container-btn-file > svg {
  margin-right: 1em;
}
.container-btn-file::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  border-radius: 0.5em;
  background-color: #469b61;
  z-index: -1;
  transition: all 350ms;
}
.container-btn-file:hover::before {
  width: 100%;
}
