.comment-item {
      position: relative;
      padding-left: 10px;

      &.depth-0 {
            // Không vẽ line ở root
            &:before, &:after { display: none; }
      }

      /* Vertical line */
      &:before {
            content: "";
            position: absolute;
            left: -10px; 
            top: 0;
            bottom: 0;
            width: 1px;
            background: #e0e0e0;
      } 
}


.comment-input {
      border: none;
      border-bottom: 1px solid var(--default-border-color);
      outline: none !important;
      box-shadow: none !important;

      &:focus {
            outline: none !important;
            box-shadow: none !important;
            border-bottom: 1px solid var(--default-border-color);
      }

      .comment-actions {
            transition: all 0.4s ease-in;
      }
}

.comment-content {
      .comment-text {
            .user-mention {
                  color: var(--bright-blue-color);
            }
      }
}

.comment-box {
      padding: 8px;
      border-radius: 5px;
      background: var(--secondary-theme-color);
      box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}
.comment-wrapper {
      padding: 3px;
      border-radius: 3px;
      width: fit-content;
}