:root {
      --dialog-container-padding: 20px;
}

.dialog {
      width: fit-content;
      min-width: 30vw;
      max-width: 90vw;
      box-shadow: rgba(255, 255, 255, 0.77) 0px 10px 36px 0px, rgba(255, 255, 255, 0.09) 0px 0px 0px 1px;
      display: flex;
      flex-direction: column;
      position: relative;
      border-radius: 5px;
}
.dialog-container {
      display: flex;
      flex-direction: column;
      height: 100%;
      min-width: 512px;
}
.dialog-heading {
      flex: 0 0 auto;
      display: flex;
      justify-content: space-between;
      padding: 0px var(--dialog-container-padding);
      background-image: linear-gradient(to bottom, #f2fbff, #f3fbff, #f5faff, #f6faff, #f7faff, #f8faff, #f9fbff, #fafbff, #fbfcff, #fdfdff, #fefeff, #fff);
      border-radius: 8px;

      .dialog-exit {
            position: absolute;
            top: 0;
            right: 0;

            .exit-button {
                  cursor: pointer;
                  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
                  background: white;
                  border-radius: 5px;
                  border-top-left-radius: 0;
                  border-bottom-right-radius: 0;
                  padding: 3px 16px;
                  &:hover { background: red; }
                  &:hover span { color: white; }
                  span { color: red; font-size: 20px; }
            }
      }
}
.dialog-body {
      padding: 10px var(--dialog-container-padding);
      padding-top: 0px;
      overflow-y: auto;
      max-height: 70vh;
      background: white;
      border-radius: 5px;
      
      &::-webkit-scrollbar { display: none; }
      scrollbar-width: none; 
      -ms-overflow-style: none;
}

.dialog-footer {
      padding: 10px var(--dialog-container-padding);
      padding-top: 0px;
}

.dialog-title { 
      display: flex;
      justify-content: center;
      color: #4c607a;
      user-select: none;
}

.dialog-row {
      padding: 10px 0px;
} 

.dialog-close {
      display: flex;
      justify-content: center;
      align-items: center;
}

.dialog-buttons {
      display: flex;
      gap: 10px;

      button {
            width: 50%;
      }
}
