.dialog {
      width: 520px;  
}

.dialog-container {
      padding: 20px;
}

.dialog-heading {
      display: flex;
      justify-content: space-between;
}

.dialog-title { 
      display: flex;
      justify-content: center;
}

.dialog-row {
      padding: 10px 0px;
} 

.dialog-buttons {
      display: flex;
      gap: 10px;
}