.file-attachment {
      background: #fff;
      border: 1px solid #e6e6e6;
      border-radius: 5px;
      padding: 5px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);
      font-size: 10px;
      transition: duration 80ms;
      max-width: 150px;
      text-wrap: nowrap;
      width: fit-content;

      span {
            display: inline-block;
            max-width: 150px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            line-height: 1.2;
      }

      &:hover {
            box-shadow: rgba(3, 85, 238, 0.12) 0px 1px 3px, rgba(5, 1, 224, 0.24) 0px 1px 2px;
      }
      &:hover span {
            color: var(--bright-blue-color);
            text-decoration: underline;
            cursor: pointer;
      }
}