// display
.d-flex { display: flex; }
.d-none { display: none; }
// gap
.gap-5p { gap: 5px; }
.gap-10p { gap: 10px; }
.gap-20p { gap: 20px; }

// width
.w-15 { width: 15%; }
.w-25 { width: 25%; }
.w-30 { width: 30%; }
.w-40 { width: 40%; }
.w-50 { width: 50%; }
.w-60 { width: 60%; }
.w-70 { width: 70%; }
.w-75 { width: 75%; }
