// align-items
.align-items-center { align-items: center; }
.align-flex-start { align-items: flex-start; }

// align-content
.align-content-center { align-content: center; }

// border
.border-radius-3px { border-radius: 3px;}
.border-transparent { border: 1px solid transparent !important; }
.border-white { border: 1px solid #ffffff !important; }

// color
.color-aaa { color: #aaa; }

// cursort
.cursor-pointer { cursor: pointer; }

// display
.display-flex { display: flex; }
.display-inline-flex { display: inline-flex;}
.d-none { display: none !important; }
.display-block { display: block;}
.display-inline-block { display: inline-block; }

// flex-direction
.flex-column { flex-direction: column; }

// flex-wrap
.fl-wrap { flex-wrap: wrap;}
.flex-1 { flex: 1; }

// font-weight 
.font-weight-bold { font-weight: bold; }

// margin
.margin-top-5px { margin-top: 5px; }
.margin-top-10px { margin-top: 10px; }
.margin-top-15px { margin-top: 15px; }
.margin-top-20px { margin-top: 20px; }
.margin-left-auto { margin-left: auto; }
.margin-left-20px { margin-left: 20px; }

// justify-content
.justify-content-center { justify-content: center; }
.justify-content-between { justify-content: space-between; }
.justify-content-end { justify-content: flex-end;}

// gap
.gap-5px { gap: 5px; }
.gap-10px { gap: 10px; }
.gap-15px { gap: 15px; }
.gap-20px { gap: 20px; }

// height
.height-100pt { height: 100%; }

// overflow-y
.overflow-y-scroll { overflow-y: scroll; }

// text
.text-align-center { text-align: center !important; }
.text-decoration-none { text-decoration: none; }

// padding
.pad-10p { padding: 10px; }
.padding-5px { padding: 5px; }

// user-select
.user-select-none { user-select: none; }

// text
.text-no-wrap { text-wrap: nowrap; }

// width
.w-15 { width: 15%; }
.w-25 { width: 25%; }
.w-30 { width: 30%; }
.w-40 { width: 40%; }
.width-50pt { width: 50% !important; }
.w-60 { width: 60%; }
.w-70 { width: 70%; }
.w-75 { width: 75%; }
.w-90 { width: 90%; }
.width-100pt { width: 100%; }
.width-fit-content { width: fit-content; }
//max-width 
.mw-100 { max-width: 100%;}
// min-width
.minw-340px { min-width: 340px;}
