.label-status {
      display: flex;
      align-items: center;
      justify-content: center;
}
.label-status-badge {
      align-content: center;
      padding: 5px 10px;
      border-radius: 5px;
      user-select: none;
      font-size: 10px;

      &.draft { color:#888;   background:#f0f0f0; }
      &.submitted { color:#1565c0;background:#e3f2fd; }
      &.created { color:#1565c0;background:#e3f2fd; }
      &.pending { color: #967300ad; background: #fffcd6; border: 1px solid #ecdfd2; }
      &.approved { color:#2e7d32; background:#e8f5e9; border: 1px solid rgba(203, 221, 114, 0.91); }
      &.ready-for-payment { color: var(--bright-blue-color); background: #effeff; border: 1px solid #b3f1ff; }
      &.partially-paid { color: #ef6c00; background: #fff3e0; border: 1px solid #ffd4b0; }
      &.fully-paid { color: #004d40; background: #e0f2f1; font-weight: 600; border: 1px solid #bad7d5 }
      &.rejected { color:#f00;background:#ffebee; font-weight: 600; border: 1px solid #ffcad2; }
      &.cancelled { color:#6d4c41;background:#efebe9; }
      &.unknown { color:#555;   background:#eee; }
}