.outgoing-status-badge {      
      align-content: center;
      padding: 5px 10px;
      border-radius: 5px;
      user-select: none;
      font-size: 12px;
}

.badge-pending { color:#ff6804;background:#ffe7d7; }
.badge-approved { color:#2e7d32;background:#e8f5e9; }
.badge-created { color:#ffd104ad;background:#e6ff03; }
.badge-recorded { color:#3347f7;background:#00f8f8; }
.badge-cancelled { color:#000000;background:#b6b6b6; }