.outgoing-status-badge {      
      align-content: center;
      padding: 5px 10px;
      border-radius: 5px;
      user-select: none;
      font-size: 12px;
}

.badge-pending { color:#ff6804;background:#fff1e8; }
.badge-approved { color:#2e7d32;background:#e8f5e9; }
.badge-created { color:#1a89f1; background: #e3fbff; }
.badge-cancelled { color: black; background:#b6b6b6; }