.select {
      background-color: white;
      border: 1px solid var(--default-border-color);
      border-radius: 5px;
      padding: 5px;
      font-family: 'Lexend';
}
.option:hover {
      background-color: var(--main-bg-color);
}