:root {
      --table-border-color: #e2e8ee;
      --total-amount-line-color: #F4FFEA;
}

.table {
      border: 1px solid var(--table-border-color);
      width: 100%;
      border-collapse: separate; /* thay cho collapse */
      border-spacing: 0;
      border-radius: 5px;

      th, td {
            border-bottom: 1px solid #e2e8ee;
            border-right: 1px solid #e2e8ee;
            padding: 5px;
            text-wrap: nowrap;
            text-align: center;
      }

      thead th {
            background-color: var(--primary-theme-color); 
            font-weight: 600;
      }

      tbody tr:hover {
            background-color: var(--primary-theme-color); 
      }

      button {
            max-height: 33px !important; 
            span { font-size: 15px !important;}
      }

      .tr-non-hover {
            background-color: inherit !important;
      }

      tr.selected {
            background-color: #e6f7ff !important;
      }

      button.selected {
            background-color: #1890ff;
            color: #fff;
      }

      .total-row {
            background-color: #f9ffef;
            color: #018601;
            font-weight: 800;
      }

      .link {
            cursor: pointer;
            :hover {
                  text-decoration: underline;
                  color: var(--bright-blue-color) !important;
            }     
      }
      
      .text-muted {
            color: #aaa;
            user-select: none;
      }
      
      .has-children {
            background-color: var(--secondary-theme-color);
      }
      .indent-row {
            display: flex;
            align-items: center;
      }
      .indent-space {
            display: inline-block;
            width: calc(var(--level) * 20px); /* 20px má»—i level */
      }
}

thead, tr, td {
      border-color: inherit;
      border-style: solid;
      border-width: 0;
}




