:root {
      --table-border-color: #e2e8ee;
      --total-amount-line-color: #F4FFEA;
}

.table {
      border: 1px solid var(--table-border-color);
      width: 100%;
      border-collapse: separate; /* thay cho collapse */
      border-spacing: 0;

      th, td {
            border: 1px solid #e2e8ee;
            padding: 8px 12px;
            text-align: left;
      }

      thead th {
            background-color: #f9fafb; 
            font-weight: 600;
            text-align: center;
      }

      tbody tr:hover {
            background-color: #f5f7fa; 
      }

      .tr-non-hover {
            background-color: inherit !important;
      }

      tr.selected {
            background-color: #e6f7ff !important;
      }

      button.selected {
            background-color: #1890ff;
            color: #fff;
      }

      .total-row {
            background-color: var(--total-amount-line-color);
      }
}

thead, tr, td {
      border-color: inherit;
      border-style: solid;
      border-width: 0;
}

.table-center-text {
      th, td {
            text-align: center;
      }
}



