<div class="user-profile-wrapper">
      <div class="col-left">
            <img class="avatar-img" src="" alt="avatar user">
      </div>
      <div class="col-right">
            <div class="col-header">Thông tin cá nhân</div>
            <div class="col-body">
                  <div class="col-body-wrapper">
                        <div class="row">
                              <div class="fullname-wrapper">
                                    <span class="username"></span>
                              </div>
                              <div class="employee-code-wrapper">
                                    <span class="employee-code"></span>
                              </div>
                        </div>
                        <div class="row">
                              <div class="user-email-wrapper">
                                    <div class="user-email"></div>
                              </div>
                              <div class="user-phone-wrapper">
                                    <div class="user-phone"></div>
                              </div>
                        </div>
                        <div class="row">
                              <div class="user-department-wrapper">
                                    <div class="user-department"></div>
                              </div>
                              <div class="user-position-wrapper">
                                    <div class="user-position"></div>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</div>
