<div class="user-profile-wrapper">
      <div class="col-left">
            <img class="avatar-img" src="" alt="avatar user">
      </div>
      <div class="col-right">
            <div class="col-header">Thông tin cá nhân</div>
            <div class="col-body">
                  <div class="col-body-wrapper">
                        <div class="row">
                              <div class="fullname-wrapper">
                                    <span class="username">{{ user?.fullName }}</span>
                              </div>
                              <div class="employee-code-wrapper">
                                    <span class="employee-code">{{ user?.employeeCode }}</span>
                              </div>
                        </div>
                        <div class="row">
                              <div class="user-email-wrapper">
                                    <span class="user-email">{{ user?.email }}</span>
                              </div>
                              <div class="user-phone-wrapper">
                                    <span class="user-phone">{{ user?.phone }}</span>
                              </div>
                        </div>
                        <div class="row">
                              <div class="user-department-wrapper">
                                    <span class="user-department">{{ user?.department?.name }}</span>
                              </div>
                              <div class="user-position-wrapper">
                                    <div class="user-position">{{ user?.position }}</div>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</div>
