.layout-container {
      display: flex;
}
.main-content {
      flex: 1;
      padding-right: 1.5rem;
      background-color: var(--main-bg-color);
}
.main-content-container {
      background-color: white;
      min-height: calc(100dvh - var(--topbar-height) - 20px);
      border: 1px solid var(--default-border-color);
      border-radius: 5px;
}