.layout-container {
      display: flex;
      height: 100vh;
      margin-top: var(--topbar-height);
}
.main-content {
      flex: 1;
      padding-right: 1.5rem;
      height: calc(100dvh - var(--topbar-height));
      margin-left: calc(var(--sidebar-width) + var(--sidebar-padding)*2);
      background-color: var(--main-bg-color);
      overflow: hidden;                      
      -webkit-overflow-scrolling: touch; 
}
.main-content-container {
      background-color: white;
      min-height: calc(100dvh - var(--topbar-height) - 20px);
      border: 1px solid var(--default-border-color);
      border-radius: 5px;
      -webkit-overflow-scrolling: touch; 
}