<table class="table">
      <thead>
            <tr>
                  <th style="width: 1%;">#</th>
                  <th>Hạng mục</th>
                  <th style="width: 7%;">Số lượng</th>
                  <th>Đơn giá</th>
                  <th>Thành tiền</th>
                  <th style="width: 6%;">Thuế</th>
                  <th>Số tiền thuế</th>
                  <th>Số tiền có thuế</th>
                  <th>Ngân sách</th>
                  <th>Hóa đơn</th>
            </tr>
      </thead>

      <tbody>
            <tr *ngFor="let item of items; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td class="item-name">{{ item.itemName }}</td>
                  <td>{{ item.quantity | number:'1.0-0' }}</td>
                  <td>{{ item.unitPrice | number:'1.0-0' }} VND</td>
                  <td>{{ item.amount | number:'1.0-0' }} VND</td>
                  <td>{{ (item.taxRate * 100) | number:'1.0-0' }}%</td>
                  <td>{{ item.taxAmount | number:'1.0-0' }} VND</td>
                  <td>{{ item.totalWithTax | number:'1.0-0' }} VND</td>
                  <td>{{ item.budgetCode?.code }} - {{ item.budgetCode?.name }}</td>
                  <td>
                        <div class="display-flex justify-content-center align-items-center">
                              <ng-container *ngIf="showInvoiceButton; else noInvoiceTpl">
                                    <button *ngIf="item.invoiceFile" type="button" class="default-button" (click)="onViewInvoice(item)">
                                          Xem hóa đơn
                                    </button>
                              </ng-container>

                              <ng-template #noInvoiceTpl>
                                    <span class="text-muted">Không có hóa đơn</span>
                              </ng-template>
                        </div>
                  </td>
            </tr>
      </tbody>

      <tfoot *ngIf="items?.length">
            <tr class="total-row">
                  <td colspan="4"><strong>Tổng</strong></td>
                  <td>{{ totalAmount | number:'1.0-0' }} VND</td>
                  <td></td>
                  <td>{{ totalTax | number:'1.0-0' }} VND</td>
                  <td>{{ totalWithTax | number:'1.0-0' }} VND</td>
                  <td colspan="4"></td>
            </tr>
      </tfoot>
</table>