<button type="button" class="button default-button" (click)="openCreateDivisionRequest()">Thêm khối mới</button>

<table class="table mar-top-20">
      <thead>
            <tr>
                  <th>Tên khối</th>
                  <th>Mô tả</th>
                  <th>Trưởng khối</th>
            </tr>
      </thead>
      <tbody>
            <tr *ngFor="let division of divisionDtos">
                  <td>{{ division.name }}</td>
                  <td>{{ division.description }}</td>
                  <td>{{ division.headUserName }}</td>
            </tr>
      </tbody> 
</table>