<!-- 1) Loading indicator -->
<ng-container *ngIf="loading(); else contentTpl">
      <div class="loading-spinner">Đang tải…</div>
</ng-container>

<!-- 2) Content -->
<ng-template #contentTpl>
      <ng-container *ngIf="paymentDetail() as detail; else errorTpl">
            <div class="outgoing-payment-request">
                  <div class="request-heading display-flex justify-content-between align-items-center">
                        <div class="page-title">
                              <h3 class="icon">💷</h3>
                              <h3 class="title">Ghi nhận khoản tiền ra</h3>
                              <h3 class="title payment-name">{{ detail.name }}</h3>
                        </div>
                        <div class="process-button-container display-flex gap-10px">
                              <button type="button" class="button cancel-button" [disabled]="loading()">Hủy</button>
                              <button type="submit" class="button save-button" [disabled]="loading() || submitting">
                                    <span class="btn-spinner" *ngIf="submitting" aria-hidden="true"></span>
                                    <span>{{ submitting ? 'Đang gửi…' : 'Gửi phê duyệt' }}</span>
                              </button>
                        </div>
                  </div>

                  <div class="request-body margin-top-20px">
                        <form class="outgoing-payment-form" [formGroup]="form" autocomplete="off">
                              <div class="form-row">
                                    <div class="form-input">
                                          <input type="text" formControlName="name" required />
                                          <label for="name">Tên khoản tiền ra <span style="color: red">*</span></label>
                                    </div>
                              </div>
                              <div class="form-row display-flex align-items-center gap-20px">
                                    <label for="name" style="width: 8%;">Tài khoản tiền ra <span style="color: red;">*</span></label>
                                    <kit-dropdown [options]="(OBAccountOptions | async) ?? []" [placeholder]="'Chọn tài khoản tiền ra'" style="width: 100%;"></kit-dropdown>
                              </div>
                              <div class="form-row display-flex gap-20px">
                                    <label for="receiver-payment">Công ty trả cho: </label>
                                    <span class="receiver-name">{{ paymentDetail()?.supplier?.name }}</span>
                              </div>
                              <div class="form-row">
                                    <label for="payment-bank">Tài khoản thụ hưởng: </label>
                                    <div class="receiver-payment display-flex gap-10px margin-top-20px">
                                          <div class="form-input flex-1">
                                                <input class="" type="text" formControlName="bankName" autocomplete="on" required/>
                                                <label for="bank-name">Tên ngân hàng <span style="color: red;">  *</span></label>
                                          </div>
                                          <div class="form-input flex-1">
                                                <input class="" type="text" formControlName="accountNumber" autocomplete="on" required/>
                                                <label for="bank-account">Số tài khoản <span style="color: red;">  *</span></label>
                                          </div>
                                          <div class="form-input flex-1">
                                                <input class="" type="text" formControlName="beneficiaryName" autocomplete="on" required/>
                                                <label for="beneficiary-name">Tên người thụ hưởng <span style="color: red;">  *</span></label>
                                          </div>
                                    </div>
                              </div>
                              <div class="form-row display-flex gap-10px">
                                    <div class="form-column flex-1">
                                          <label class="width-fit-content text-no-wrap align-content-center" for="name">Số tiền công ty cần trả 🔒</label>
                                          <input class="dark dark-alert user-select-none margin-top-10px" [value]="form.get('totalWithTax')?.value | number:'1.0-2'" disabled />
                                    </div>
                                    <div class="form-column flex-1">
                                          <label class="width-fit-content text-no-wrap align-content-center" for="name">Số tiền chờ tạo lệnh 🔒</label>
                                          <input class="dark dark-alert user-select-none margin-top-10px" [value]="form.get('totalOutgoing')?.value | number:'1.0-2'" disabled />
                                    </div>
                              </div>
                              <div class="form-row">
                                    <label for="category-table">Hạng mục <span style="color: red;">  *</span></label>
                                    <table class="table table-center-text margin-top-10px">
                                          <thead>
                                                <tr>
                                                      <th style="width: 1%;">#</th>
                                                      <th>Hạng mục</th>
                                                      <th class="head-quanity" style="width: 7%;">Số lượng</th>
                                                      <th>Đơn giá</th>
                                                      <th>Thành tiền</th>
                                                      <th class="head-tax" style="width: 6%;">Thuế</th>
                                                      <th>Số tiền thuế</th>
                                                      <th>Số tiền có thuế</th>
                                                      <th class="head-extension">Ngân sách</th>
                                                      <th class="head-invoice">Hóa đơn</th>
                                                </tr>
                                          </thead>
                                          <tbody>
                                                <tr *ngFor="let item of paymentDetail()?.items; let i = index">
                                                      <td>{{ i + 1 }}</td>
                                                      <td class="item-name">{{ item.itemName }}</td>
                                                      <td class="item-quanity">{{ item.quantity | number:'1.0-0' }}</td>
                                                      <td class="item-unit-price">{{ item.unitPrice | number:'1.0-0' }} VNĐ</td>
                                                      <td class="item-amount">{{ item.amount | number:'1.0-0' }} VNĐ</td>
                                                      <td class="item-tax">{{ (item.taxRate * 100) | number:'1.0-0' }}%</td>
                                                      <td class="item-tax-amount">{{ item.taxAmount | number:'1.0-0' }} VNĐ</td>
                                                      <td class="item-total-with-tax">{{ item.totalWithTax | number:'1.0-0' }} VNĐ</td>
                                                      <td class="item-budget-code">{{ item.budgetCode?.code}} - {{ item.budgetCode?.name }}</td>
                                                      <td class="item-invoice">
                                                            <button type="button" class="button" [ngClass]="item.invoice ? 'default-button' : 'cancel-button'">
                                                                  {{ item.invoice ? 'Xem hóa đơn' : 'Không hóa đơn' }}
                                                            </button>
                                                      </td>
                                                </tr>
                                          </tbody>
                                          <tfoot *ngIf="paymentDetail()?.items?.length">
                                                <tr class="total-row">
                                                      <td colspan="4" class=""><strong>Tổng</strong></td>
                                                      <td>{{ paymentDetail()?.totalAmount | number:'1.0-0' }} VNĐ</td>
                                                      <td></td>
                                                      <td>{{ paymentDetail()?.totalTax | number:'1.0-0' }} VNĐ</td>
                                                      <td>{{ paymentDetail()?.totalWithTax | number:'1.0-0' }} VNĐ</td>
                                                      <td colspan="4"></td>
                                                </tr>
                                          </tfoot>
                                    </table>
                              </div>
                              <div class="form-row display-flex gap-10px">
                                    <div class="form-column flex-1">
                                          <label class="width-fit-content text-no-wrap align-content-center" for="name">Số tiền thanh toán 🔒</label>
                                          <input class="dark dark-alert user-select-none margin-top-10px" [value]="paymentDetail()?.totalWithTax| number:'1.0-2'" disabled />
                                    </div>
                                    <div class="form-column flex-1">
                                          <label class="width-fit-content text-no-wrap align-content-center" for="name">Ngày tạo thanh toán 🔒</label>
                                          <input class="dark dark-alert user-select-none margin-top-10px" [value]="paymentDetail()?.createdDate| date:'dd/MM/yyyy'" disabled />
                                    </div>
                                    <div class="form-column flex-1">
                                          <label class="width-fit-content text-no-wrap align-content-center" for="name">Hạn thanh toán 🔒</label>
                                          <input class="dark dark-alert user-select-none margin-top-10px" [value]="paymentDetail()?.paymentDate | date:'dd/MM/yyyy'" disabled />
                                    </div>
                              </div>
                              <div class="form-row">
                                    <label class="width-fit-content text-no-wrap align-content-center" for="name">Người theo dõi</label>
                              </div>
                              <div class="form-row">
                                    <label class="width-fit-content text-no-wrap align-content-center" for="name">Mô tả</label>
                                    <textarea class="margin-top-10px" formControlName="description" placeholder="Trình bày nội dung ở đây"></textarea>
                              </div>
                              <div class="form-row">
                                    <div class="margin-top-20px">
                                          <span class="input-wrapper">Tệp đính kèm chi phí    </span>
                                          <div class="file-uploader pad-10p">
                                                <!-- input ẩn: cho phép chọn nhiều file -->
                                                <input #documentFile id="invoiceFile" type="file" class="file-input d-none" accept="application/pdf,image/*" (change)="onFileSelected($event)" multiple/>

                                                <!-- nút chọn file -->
                                                <div class="button default-button">
                                                      <label for="invoiceFile" class="cursor-pointer">Chọn file (PDF/Ảnh)</label>
                                                </div>

                                                <span *ngIf="!(uploads?.length)" class="file-name muted" style="color:#888; margin-left:10px;">
                                                      Chưa chọn file
                                                </span>
                                          </div>

                                          <div class="" style="padding: 0 10px;">
                                                <!-- Danh sách file đã chọn/đang upload -->
                                                <ul class="uploader-list"  *ngIf="uploads?.length">
                                                      <li class="uploader-item" *ngFor="let u of uploads; let i = index" [ngClass]="u.status">
                                                            <div class="file-row">
                                                                  <div class="file-meta">
                                                                        <span class="file-name">{{ u.name }}</span>
                                                                  </div>
                                                                  <div class="status-line" [ngClass]="u.status">
                                                                        <ng-container [ngSwitch]="u.status">
                                                                              <span *ngSwitchCase="'queued'">Đang chờ...</span>
                                                                              <span *ngSwitchCase="'uploading'">Đang tải lên: {{ u.progress | number:'1.0-0' }}%</span>
                                                                              <span *ngSwitchCase="'done'">✔ Đã tải</span>
                                                                              <span *ngSwitchCase="'error'">✖ Lỗi</span>
                                                                        </ng-container>
                                                                  </div>
                                                                  <button type="button" class="display-flex close-button" (click)="removeUpload(i)" [disabled]="u.status === 'uploading'">
                                                                        <span class="text material-icons-outlined" style="font-size: 15px;">close</span>
                                                                  </button>
                                                            </div>

                                                            <!-- Progress bar -->
                                                            <div class="progress" *ngIf="u.status === 'uploading'">
                                                                  <div class="progress-bar" [style.width.%]="u.progress"></div>
                                                            </div>
                                                      </li>
                                                </ul>
                                          </div>
                                    </div>
                              </div>
                        </form>
                  </div>
            </div>
      </ng-container>
</ng-template>

<!-- 3) Error -->
<ng-template #errorTpl>
      <div class="error-text">{{ err() }}</div>
</ng-template>
