.countdown-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "Rubik", sans-serif;
      font-weight: 600;
      color: #fff;
      background-image: linear-gradient(to left top, #a80000, #ba131b, #cb2331, #db3247, #ea415d, #f14a60, #f85363, #ff5c66, #ff6356, #ff6c44, #ff7830, #ff8414);
      border-radius: 8px;
      padding: 10px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
      user-select: none;
}


.time-group {
      display: flex;
      overflow: hidden;
      height: fit-content;
}

.digit {
      width: 11px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      will-change: transform, opacity;
}

.divider {
      opacity: 0.6;
      margin: 0 3px;
}
