<button type="button" class="button default-button" (click)="openDeparmentRequestDialog()">Tạo phòng ban mới</button>

<table class="table mar-top-20">
      <thead>
            <tr>
                  <th>#</th>
                  <th>Mã phòng ban</th>
                  <th>Tên phòng ban</th>
                  <th>Trường bộ phận</th>
            </tr>
      </thead>
      <tbody>
            <tr *ngFor="let dept of (departments$ | async) ?? []; trackBy: trackById; let i = index;">
                  <td>{{ i + 1 }}</td>
                  <td>{{ dept.code }}</td>
                  <td>{{ dept.name }}</td>
                  <td>
                        <kit-action-menu [actions]="buildDepartmentActions(dept)"></kit-action-menu>
                  </td>
            </tr>
      </tbody>
</table>