<button type="button" class="button default-button" (click)="openDeparmentRequestDialog()">Tạo phòng ban mới</button>

<table class="table mar-top-20">
      <thead>
            <tr>
                  <th>#</th>
                  <th>Mã phòng ban</th>
                  <th>Tên phòng ban</th>
                  <th>Trường bộ phận</th>
                  <th></th>
            </tr>
      </thead>
      <tbody>
            <tr *ngFor="let dept of (department$ | async) ?? []; trackBy: trackById; let i = index;">
                  <td>{{ i + 1 }}</td>
                  <td>{{ dept.code }}</td>
                  <td>{{ dept.name }}</td>
                  <td></td>
                  <td>
                        <div class="dropdown-menu">
                              <button type="button" class="non-decorated-button"  aria-label="thêm bước duyệt" 
                                    cdkOverlayOrigin #departmentMenuOrigin="cdkOverlayOrigin" 
                                    [attr.aria-expanded]="departmentMenuOpenIndex === i"
                                    (click)="toggleDepartmentMenu(i, $event)">
                                    <span class="material-icons-outlined" style="font-size: initial;">more_horiz</span>
                              </button>
                              <ng-template cdkConnectedOverlay 
                                    [cdkConnectedOverlayOrigin]="departmentMenuOrigin" 
                                    [cdkConnectedOverlayOpen]="departmentMenuOpenIndex === i" 
                                    [cdkConnectedOverlayHasBackdrop]="true" 
                                    [cdkConnectedOverlayBackdropClass]="'cdk-overlay-transparent-backdrop'" 
                                    (backdropClick)="onDepartmentMenuClosed()" 
                                    (overlayOutsideClick)="onDepartmentMenuClosed()" 
                                    [cdkConnectedOverlayPositions]="departmentMenuOverlayPosition">
                                    <div class="dropdown-menu-panel" role="menu" aria-label="step actions" (keydown.escape)="onDepartmentMenuClosed()" tabindex="0">
                                          <button type="button" class="dropdown-menu-item" (click)="onDepartmentMenuClosed()"> 👨🏻‍💼 Chỉnh sửa quản lý </button>     
                                          <button type="button" class="dropdown-menu-item" (click)="onDepartmentMenuClosed()"> ⚙️ Sửa </button>                  
                                          <button type="button" class="dropdown-menu-item" (click)="onDepartmentMenuClosed()" style="color: red;"> ⛔ Xóa </button>   
                                    </div>
                              </ng-template>
                        </div>
                  </td>
            </tr>
      </tbody>
</table>