.dialog-row {
      display: flex;
      gap: 10px;
      justify-content: space-between;
      align-items: stretch;

      .dialog-column {
            display: flex;
            flex-direction: column;

            &:first-child,
            &:last-child {
                  flex: 1 1 0;
            }

            // Cột giữa chỉ vừa bằng nút
            &:nth-child(2) {
                  flex: 0 0 auto; /* Fit-content cho nút */
                  display: flex;
                  align-items: center;
                  justify-content: center;
            }
      }
}

.primary-card {
      width: 100%;
      .card-header {
            font-weight: unset;
            font-size: unset;
            text-align: center;
            padding: 8px !important;
      }
      .card-body {
            padding: unset !important;
            height: 300px;
      }
}

.available-permissions, .selected-permissions {
      list-style: none;
      overflow-y: auto;
      overflow-x: hidden;
      height: 300px;

      .available-permission, .selected-permission {
            transition: background 0.2s ease;
            will-change: transform, opacity;
            padding: 8px;
            &:hover {
                  background-color: var(--main-bg-color);
                  cursor: pointer;
            }
            &.active {
                  background-color: var(--bright-blue-color);
                  color: white;
            }
      }
}
