<div class="user-profile" *ngIf="currentUser$ | async as user">
      <div class="user-profile-container display-flex">
            <div class="col-left">
                  <div class="username-wrapper">
                        <div class="username">&#64; {{ user?.username || '---' }}</div>
                  </div>
                  <div class="avatar-img-wrapper">
                        <img class="avatar-img" [src]="previewAvatarSrc || (user | avatarUrlPipe)" role="button" tabindex="0" (keydown.enter)="triggerAvatarUpload()" (keydown.space)="triggerAvatarUpload()"/>
                        <input type="file" id="avatar-input" hidden accept="image/png, image/jpeg, image/jpg" (change)="onAvatarSelected($event)"/>
                  </div>
                  <div class="save-avatar-wrapper display-flex justify-content-center">
                        <button type="button" class="button default-button" (click)="triggerAvatarUpload()">Đổi ảnh avatar</button>
                  </div>
            </div>
            <div class="col-right">
                  <div class="primary-card">
                        <div class="card-wrapper">
                              <div class="card-header">Thông tin cá nhân</div>
                              <div class="card-body">
                                    <div class="display-flex fl-wrap">
                                          <div class="row fullname-wrapper width-50pt">
                                                <label class="label">Họ tên</label>
                                                <div class="card-box user-fullname">{{ user?.fullName || '---' }}</div>
                                          </div>
                                          <div class="row employee-code-wrapper width-50pt">
                                                <label class="label">Mã nhân viên</label>
                                                <div class="card-box employee-code">{{ user?.employeeCode || '---' }}</div>
                                          </div>
                                          <div class="row user-email-wrapper width-50pt">
                                                <label class="label">Email</label>
                                                <div class="card-box user-email">{{ user?.email || '---' }}</div>
                                          </div>
                                          <div class="row user-phone-wrapper width-50pt">
                                                <label class="label">Số điện thoại</label>
                                                <div class="card-box user-phone">{{ user?.phone || '---' }}</div>
                                          </div>
                                          <div class="row user-department-wrapper width-50pt">
                                                <label class="label">Phòng ban</label>
                                                <div class="card-box user-department">{{ user?.department?.name || '---' }}</div>
                                          </div>
                                          <div class="row user-position-wrapper width-50pt">
                                                <label class="label">Chức vụ</label>
                                                <div class="card-box user-position">{{ user?.position || '---' }}</div>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</div>
