.budgets-shell {
      display: flex;
}

/* Sidebar */
.budgets-shell__sidebar {
      border-right: 1px solid var(--default-border-color);
      padding-right: 10px;
      width: fit-content;
}

.sidebar__item {
      display: block;
      width: 100%;
      background-color: initial;
      border: 1px solid var(--default-border-color);
      border-radius: var(--default-border-color-radius);
      text-align: left;
      transition: duration 80ms;
      user-select: none;
      box-sizing: border-box;
      text-decoration: none;
      padding: 5px 8px;
      color: #4c607a;
      cursor: pointer;
      margin-bottom: 1px;
}
.sidebar__item:hover, .sidebar__item.active {
      background: #ffffff;
      background: linear-gradient(182deg,rgba(255, 255, 255, 1) 0%, rgba(245, 249, 255, 1) 54%, rgba(233, 241, 247, 1) 100%);
}

/* Content */
.budgets-shell__content {
      padding: 0 10px;
}
.panel {

}

.empty {
      padding: 24px;
      color: #64748b;
      font-style: italic;
}
