<div class="page-container">
      <div class="page-heading">
            <div class="page-title">
                  <h3 class="icon">🧮</h3>
                  <h3 class="title">Nhóm ngân sách</h3>
            </div>
      </div>
      <div class="page-body">
            <div *appHasPermission="'budget-group.create'" [formGroup]="form" class="primary-card" style="width: 35%;">
                  <div class="card-wrapper">
                        <div class="card-header">
                              <div class="card-title">Thêm nhóm ngân sách</div>
                        </div>
                        <div class="card-body">
                              <form class="display-flex gap-10px" (ngSubmit)="createBudgetGroup()">
                                    <div class="form-input" style="width: 30%;">
                                          <input class="" type="text" formControlName="code" autocomplete="on" required/>
                                          <label for="name">Mã <span style="color: red;">  *</span></label>
                                    </div>
                                    <div class="form-input" style="width: 60%;">
                                          <input class="" type="text" formControlName="name" autocomplete="on" required/>
                                          <label for="name">Tên <span style="color: red;">  *</span></label>
                                    </div>
                                    <kit-spinner-button type="submit" cssClass="button save-button height-100pt border-transparent" [loading]="submitting" [disabled]="submitting" text="Lưu" loadingText="Đang xử lý" style="width: 10%;"></kit-spinner-button>
                              </form>
                        </div>
                  </div>
            </div>

            <table class="table margin-top-20px">
                  <thead>
                        <tr>
                              <th>Mã nhóm ngân sách</th>
                              <th>Tên nhóm ngân sách</th>
                        </tr>
                  </thead>
                  <tbody>
                        <tr *ngFor="let bg of budgetGroups">
                              <td>{{ bg.code }}</td>
                              <td>{{ bg.name }}</td>
                        </tr>
                        <tr *ngIf="budgetGroups && budgetGroups.length === 0">
                              <td colspan="2" class="text-center">Không có dữ liệu.</td>
                        </tr>
                  </tbody>
            </table>
      </div>
</div>