<!-- ====== Thanh công cụ + nút tạo mới ====== -->
<div class="container">
      
      <div class="d-flex justify-content-between">
            <div class="left align-content-center">
                  <span class="">Luồng duyệt hiện tại</span>
            </div>
            <div class="right">
                  <button type="button" class="button default-button" [routerLink]="['approval-workflow-engine-request']">Tạo luồng duyệt</button>
            </div>
      </div>
      
      <div class="table-wrapper mar-top-20">
            <table class="table">
                  <thead>
                        <tr>
                              <th>Luồng duyệt</th>
                        </tr>
                  </thead>
            </table>
      </div>
</div>

