<div class="add-budget-code-request-dialog" style="width: 520px;">
      <div class="dialog-container">
            <h2 class="dialog-title">Thêm ngân sách mới</h2>
            <form class="dialog-body" [formGroup]="form" (ngSubmit)="save()">
                  <div class="dialog-row">
                        <div class="form-input">
                              <input class="" type="text" formControlName="name" autocomplete="on" required/>
                              <label for="name">Tên ngân sách <span style="color: red;">  *</span></label>
                        </div>
                  </div>

                  <div class="dialog-row">
                        <div class="form-input">
                              <input class="" type="text" formControlName="code" autocomplete="on" required/>
                              <label for="name">Mã ngân sách <span style="color: red;">  *</span></label>
                        </div>
                  </div>

                  <div class="dialog-row">
                        <kit-dropdown [options]="budgetGroupOptions" (selectionChange)="onBudgetGroupSelected($event)" [placeholder]="'Chọn nhóm ngân sách'" [width]="'100%'"></kit-dropdown>
                  </div>

                  <div class="dialog-row">
                        <kit-dropdown [options]="cashoutCodeOptions" (selectionChange)="onCashoutCodeSelected($event)" [placeholder]="'Chọn dòng tiền ra'" [width]="'100%'"></kit-dropdown>
                  </div>

                  <div class="actions display-flex gap-10px dialog-row">
                        <button type="button" class="width-50pt button cancel-button" (click)="close()">Hủy</button>
                        <div class="width-50pt">
                              <kit-spinner-button type="submit" cssClass="button save-button width-100pt" [loading]="submitting" [disabled]="form.invalid || submitting" text="Lưu" loadingText="Đang xử lý…"></kit-spinner-button>
                        </div>
                  </div>

            </form>
      </div>
</div>