<div class="cashout-code-request-dialog">
      <div class="dialog-container">
            <div class="dialog-title">Thêm mã dòng tiền ra mới</div>
            <form class="dialog-body" [formGroup]="form">
                  <div class="dialog-field">
                        <div class="form-input">
                              <input class="" type="text" formControlName="name" autocomplete="on" required/>
                              <label for="name">Tên mã dòng tiền ra <span style="color: red;">  *</span></label>
                        </div>
                  </div>

                  <div class="dialog-field">
                        <kit-dropdown [options]="cashoutGroupOptions" (selectionChange)="onCashoutGroupSelected($event)" [placeholder]="'Chọn nhóm dòng tiền ra'" [width]="'100%'"></kit-dropdown>
                  </div>

            </form>

      </div>

</div>