<div class="cashout-code-request-dialog">
      <div class="dialog-container">
            <div class="dialog-title">Thêm mã dòng tiền ra mới</div>

            <form class="dialog-body" [formGroup]="form" (ngSubmit)="submit()">
                  <div class="dialog-row">
                        <div class="form-input">
                              <input class="" type="text" formControlName="name" autocomplete="on">
                              <label for="name">Tên mã dòng tiền ra <span style="color: red;">  *</span></label>
                        </div>
                  </div>

                  <div class="dialog-row">
                        <div class="form-input">
                              <textarea formControlName="description" id="" placeholder="Mô tả (nếu có)"></textarea>
                        </div>
                  </div>

                  <div class="dialog-row">
                        <kit-dropdown [options]="cashoutGroupOptions" (selectionChange)="onCashoutGroupSelected($event)" [placeholder]="'Chọn nhóm dòng tiền ra'" [width]="'100%'"></kit-dropdown>
                  </div>
                  
                  <div class="dialog-row">
                        <kit-dropdown [options]="postingLedgerAccountOptions" (selectionChange)="onLedgerAccountsSelected($event)" [placeholder]="'Chọn tài khoản hạch toán'" [width]="'100%'"></kit-dropdown>
                  </div>

                  <div class="actions d-flex gap-10p mar-top-20">
                        <button type="button" class="width-50pt button cancel-button" (click)="close(false)">Hủy</button>
                        <button type="submit" class="width-50pt button save-button d-flex justify-content-center" [disabled]="submitting">
                              {{ submitting ? 'Đang lưu...' : 'Lưu' }}
                        </button>
                  </div>
            </form>

      </div>
</div>