<h2>Danh sách kỳ ngân sách</h2>

<div class="primary-card">
      <form action="">
            <input type="number" [(ngModel)]="year" name="year" placeholder="năm" required/>
            <input type="number" [(ngModel)]="month" name="month" placeholder="tháng" required/>
            <button (click)="createBudgetPeriod()">Thêm</button>
      </form>
</div>

<div *ngIf="errorMessages.length > 0" class="alert alert-danger mt-3">
      <ul>
            <li *ngFor="let msg of errorMessages">{{ msg }}</li>
      </ul>
</div>

<table class="table-budget-periods">
      <thead>
            <th>
                  <input #masterCheckbox type="checkbox" (change)="toggleAll($event)">
            </th>
            <th>Năm</th>
            <th>Tháng</th>
            <th>Hiệu lực</th>
            <th>Ngày tạo</th>
            <th>Hành động</th>
      </thead>
      <tbody>
            <tr *ngFor="let period of budgetPeriods">
                  <td><input type="checkbox"></td>
                  <td>{{ period.year }}</td>
                  <td>{{ period.month }}</td>
                  <td>{{ period.isActive }}</td>
                  <td>{{ period.createdDate | date: 'dd/MM/yyyy' }}</td>
                  <td></td>
            </tr>
      </tbody>
</table>

