<div class="primary-card">
      <div class="card-header">
            <h2>Bank account</h2>
      </div>

      <!-- CREATE TOGGLE -->
      <div class="mt-3">
            <button (click)="toggleCreate()">{{ creating ? 'đóng' : 'thêm mới' }}</button>
      </div>

      <!-- CREATE FORM -->
      <form *ngIf="creating" [formGroup]="createForm" class="create-form mt-2" (ngSubmit)="submitCreate()">
            <div class="grid">
                  <div>
                        <label>Số tài khoản *</label>
                        <input type="text" formControlName="accountNumber" />
                  </div>
                  <div>
                        <label>Tên ngân hàng *</label>
                        <input type="text" formControlName="bankName" />
                  </div>
                  <div>
                        <label for="">Tên tài khoản *</label>
                        <input type="text" formControlName="accountHolder" />
                  </div>
                  <div>
                        <label for="">Người thụ hưởng</label>
                        <input type="text" formControlName="ownerName">
                  </div>

                  <div class="mt-2">
                        <button class="save-button" type="submit" [disabled]="createForm.invalid">Thêm</button>
                  </div>
            </div>
      </form>

      <div class="card-body">
            <div *ngIf="errorMessages" class="alert alert-danger">{{ errorMessages }}</div>
            <div *ngIf="isLoading">Loading ....</div>
            <table class="table-bank-accounts" *ngIf="!isLoading && bankAccounts">
                  <thead>
                        <tr>
                              <th>Số tài khoản</th>
                              <th>Ngân hàng</th>
                              <th>Tên tài khoản</th>
                              <th>Người sở hữu</th>
                              <th>Active</th>
                              <th></th>
                        </tr>
                  </thead>
                  <tbody>
                        <tr *ngFor="let ba of bankAccounts.items">
                              <td>{{ ba.accountNumber }}</td>
                              <td>{{ ba.bankName }}</td>
                              <td>{{ ba.accountHolder }}</td>
                              <td>{{  ba.ownerName }}</td>
                              <td>
                                    <span [class.badge-success]="ba.isActive" [class.badge-danger]="!ba.isActive" class="badge">
                                          {{ ba.isActive ? 'Yes' : 'No' }}
                                    </span>
                              </td>
                              <td class="text-right">
                                    <button (click)="toggleActive(ba)">{{ ba.isActive ? 'Deactive' : 'Active' }}</button>
                                    <button (click)="confirmDelete(ba)">Delete</button>
                              </td>
                        </tr>
                  </tbody>
            </table>

            <div *ngIf="bankAccounts" class="pagination">
                  <button (click)="prev()" [disabled]="page<=1">prev</button>
                  <span>page {{ page }} / {{ totalPages() }}</span>
                  <button (click)="next()" [disabled]="page>=totalPages()">next</button>

                  <select [ngModel]="pageSize" (ngModelChange)="onPageSizeChange($event)">
                        <option [ngValue]="10">10</option>
                        <option [ngValue]="20">20</option>
                        <option [ngValue]="50">50</option>
                  </select>
            </div>
      </div>
</div>
