<div class="page-container">
      <div class="page-heading">
            <div class="page-title">
                  <h3 class="icon">🧮</h3>
                  <h3 class="title">Nhóm ngân sách</h3>
            </div>
      </div>
      <div class="page-body">
            <div class="primary-card" style="width: 35%;">
                  <div class="card-wrapper">
                        <div class="card-header">
                              <div class="card-title">Thêm nhóm ngân sách</div>
                        </div>
                        <div class="card-body">
                              <form class="display-flex gap-10px" (ngSubmit)="createBudgetGroup()" #budgetGroupForm="ngForm">
                                    <input style="width: 45%;" type="text" name="code" [(ngModel)]="newBudgetGroup.code" placeholder="Mã nhóm ngân sách" required/>
                                    <input class="" type="text" name="name" [(ngModel)]="newBudgetGroup.name" placeholder="Tên nhóm ngân sách" required/>
                                    <button class="save-button" type="submit" [disabled]="!budgetGroupForm.valid">Thêm</button>
                              </form>
                        </div>
                  </div>
            </div>

            <table class="table margin-top-20px">
                  <thead>
                        <tr>
                              <th>Mã nhóm ngân sách</th>
                              <th>Tên nhóm ngân sách</th>
                        </tr>
                  </thead>
                  <tbody>
                        <tr *ngFor="let bg of budgetGroups">
                              <td>{{ bg.code }}</td>
                              <td>{{ bg.name }}</td>
                        </tr>
                        <tr *ngIf="budgetGroups && budgetGroups.length === 0">
                              <td colspan="2" class="text-center">Không có dữ liệu.</td>
                        </tr>
                  </tbody>
            </table>
      </div>
</div>