<div class="page-container">
      <div class="page-heading">
            <div class="page-title">
                  <h3 class="icon">🔐</h3>
                  <h3 class="title">Danh sách quyền</h3>
            </div>
            <div class="actions">
                  <button type="button" class="button default-button" (click)="openPermissionRequestDialog()">Thêm quyền</button>
            </div>
      </div>
      <div class="page-body">
            <table class="table">
                  <thead>
                        <tr>
                              <th>#</th>
                              <th>Tên quyền</th>
                              <th>Mã quyền</th>
                              <th>Mô tả</th>
                        </tr>
                  </thead>
                  <tbody>
                        <tr *ngFor="let permission of (permissions$ | async) ?? []; trackBy: trackById; let i = index">
                              <td>{{ i + 1 }}</td>
                              <td>{{ permission.name }}</td>
                              <td style="color: var(--bright-blue-color);">{{ permission.code }}</td>
                              <td>{{ permission.description }}</td>
                        </tr>
                  </tbody>
            </table>
      </div>
</div>