@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
@import url('./styles/_button.scss');
@import url('./styles/_modal.scss');
@import url('./styles/_keyword-css.scss');
@import url('./styles/_cards.scss');
@import url('./styles/_toggle-switch.scss');
@import url('./styles/_message.scss');


:root {
      --cadmium-red: #D22B2B;
      --ultramarin: #0437F2;
      --main-bg-color: #f6f8fa;
      --sub-bg-color: #f6f8fa;
      --sub-bg-color_hover: #818b981a;
      --main-theme-bg: #d5a36e;
      --main-foreground-hover: #A50021;
      --main-theme-fg: #f8e1e1;
      --default-border: #d1d9e0b3;
      --gold-color: #FFD700;
      --logo-size: 250px;

}

body {
      font-family: 'Lexend', sans-serif;
      font-size: 13px;
}

ul, ol {
      margin: 0;
      padding: 0;
}
input {
      width: 100%;
      padding: 8px;
      box-sizing: border-box;
      border-radius: 5px;
      border: 1px solid var(--default-border);
}

.logo-container {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
}
.logo-wrapper {
      position: relative;
      width: var(--logo-size);
      height: var(--logo-size);
      overflow: hidden;

      img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            display: block;
            border-radius: 10px;
      }

      // Hiệu ứng ánh sáng
      &.shine-once::after {
            content: '';
            position: absolute;
            top: 0;
            left: -250%;
            width: 200%; 
            height: 100%;
            background: linear-gradient( 120deg, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.9) 40%, rgba(255, 255, 255, 0) 60% );
            animation: shine-once 1.5s ease-in-out forwards;
            pointer-events: none;
      }
}

// Keyframes cho hiệu ứng quét sáng
@keyframes shine-once {
      from { left: -150%; opacity: 1; }
      to { left: 100%; opacity: 0; }
}
html, body { height: 100%; margin: 0; }

.mat-mdc-tooltip-surface {
      font-family: 'Lexend' !important;
      user-select: none;
      background-color: var(--gold-color) !important;
      color: black !important;
}