<div class="dialog">
      <div class="dialog-container">
            <div class="dialog-heading">
                  <div class="dialog-title">
                        <h1>Chi tiết thanh toán</h1>
                  </div>
                  <div class="dialog-close">
                        <button type="button" class="close-button" (click)="close()" aria-label="Đóng">
                              <span class="text material-icons-outlined">close</span>
                        </button>
                  </div>
            </div>
            <div class="dialog-body"  #dialogBody>
                  <ng-container *ngIf="loading(); else contentTpl">
                        <kit-loading-spinner></kit-loading-spinner>
                  </ng-container>
                  <ng-template #contentTpl >
                       <ng-container *ngIf="!err(); else errorTpl">
                              <div class="expense-payment-detail-container">
                                    <div class="payment-heading display-flex gap-10px align-items-center" [class.scrolled]="isScrolled">
                                          <div class="label-status" [@statusChangeFade]="paymentDetail?.status">
                                                <span class="label-status-badge" [ngClass]="(paymentDetail?.status | expensePaymentStatus).class">
                                                      {{ (paymentDetail?.status | expensePaymentStatus).text }}
                                                </span>
                                          </div>
                                          <h3 class="payment-name">{{ paymentDetail?.name }}</h3>
                                          <ng-container *ngIf="canApproveOrReject">
                                                <div class="payment-actions display-flex gap-10px align-items-center" >
                                                      <!-- <button type="button" class="button submit-button" (click)="onApprove()">Duyệt</button> -->
                                                      <kit-spinner-button type="button" cssClass="submit-button" [loading]="processing" [disabled]="loading()" text="Duyệt" loadingText="Đang duyệt…" (click)="onApprove()"></kit-spinner-button>
                                                      <kit-spinner-button type="button" cssClass="danger-button" [loading]="processing" [disabled]="loading()" text="Từ chối" loadingText="Đang từ chối…" (click)="onReject()"></kit-spinner-button>
                                                      <!-- <button type="button" class="button danger-button" (click)="onReject()">Từ chối</button> -->
                                                </div>
                                                <ng-container *ngIf="currentStepSafe && isExpired(currentStepSafe)">
                                                      <div class="payment-expired-badge margin-left-auto">
                                                            <span class="badge danger-badge">Quá hạn duyệt</span>
                                                      </div>
                                                </ng-container>
                                                <ng-container *ngIf="currentStepSafe as step">
                                                      <ng-container *ngIf="!isExpired(step)">
                                                            <div class="payment-due-time margin-left-auto">
                                                                  <kit-flip-countdown [timeLeft]="getSecondsRemaining(step)"></kit-flip-countdown>
                                                            </div>
                                                      </ng-container>
                                                </ng-container>
                                          </ng-container>
                                          <ng-container *ngIf="paymentDetail?.status === 6 || paymentDetail?.status === 7">
                                                <div class="payment-outgoing-btn margin-left-auto">
                                                      <button type="button" class="blue-button" (click)="navigateToOutgoingPaymentRequest()">
                                                            Ghi nhận khoản tiền ra
                                                      </button>
                                                </div>
                                          </ng-container>
                                    </div>
                                    <div class="payment-body margin-top-15px">
                                          <div class="general-information-block primary-card">
                                                <div class="card-header">Thông tin chung</div>
                                                <div class="card-body general-grid">
                                                      <div class="row">
                                                            <label>ID</label>
                                                            <div class="value mono">{{ paymentDetail?.subId }}</div>
                                                      </div>
                                                      <div class="row">
                                                            <label>Tạo bởi</label>
                                                            <div class="value flex">
                                                                  <img class="avatar" [src]="paymentDetail?.createdByUser | avatarUrlPipe" alt="avatar">
                                                                  <span>{{ paymentDetail?.createdByUser?.fullName }}</span>
                                                            </div>
                                                      </div>
                                                      <div class="row">
                                                            <label>Tạo lúc</label>
                                                            <div class="value">{{ paymentDetail?.createdDate | date:'HH:mm dd/MM/yyyy' }}</div>
                                                      </div>
                                                      <div class="row">
                                                            <label>Công ty trả cho</label>
                                                            <div class="value ellipsis" [title]="paymentDetail?.supplier?.name">
                                                                  {{ paymentDetail?.supplier?.name }}
                                                            </div>
                                                      </div>
                                                      <div class="row">
                                                            <label>Nội dung thanh toán</label>
                                                            <div class="value ellipsis">
                                                                  {{ paymentDetail?.description }}
                                                            </div>
                                                      </div>
                                                      <div class="row">
                                                            <label>Luồng duyệt</label>
                                                            <div class="value">
                                                                  <ul class="avatar-stack">
                                                                        <li *ngFor="let step of (paymentDetail?.workflowInstanceDetail?.steps || []); let i = index; trackBy: trackByIndex">
                                                                               <img *ngIf="step.approvedByUser" class="avatar-user approver-avatar" [src]="step.approvedByUser | avatarUrlPipe" alt="approved by">
                                                                              <img *ngIf="step.rejectedByUser" class="avatar-user rejecter-avatar" [src]="step.rejectedByUser | avatarUrlPipe" alt="rejected by">
                                                                              <img *ngIf="!step.approvedByUser && !step.rejectedByUser && step.status === 'Waiting'" class="avatar-user waiting-avatar" [src]="step.defaultApproverUser | avatarUrlPipe" alt="{{ step.status }}">
                                                                        </li>
                                                                  </ul>
                                                            </div>
                                                      </div>
                                                      <div class="row">
                                                            <label>Người theo dõi</label>
                                                            <div class="value">
                                                                  <ul class="avatar-stack">
                                                                        <li *ngFor="let f of (paymentDetail?.followers || []); trackBy: trackByIndex">
                                                                              <img class="avatar" [src]="f | avatarUrlPipe" alt="follower">
                                                                        </li>
                                                                  </ul>
                                                            </div>
                                                      </div>
                                                </div>
                                          </div>
                                          <div class="payment-amount-block primary-card margin-top-15px">
                                                <div class="card-body">
                                                      <div class="total-amount-block">
                                                            <div class="amount-infor-block">
                                                                  <label class="amount-infor-label" for="total-amount">Số tiền thanh toán</label>
                                                                  <span>{{ paymentDetail?.totalWithTax | number:'1.0-0' }} VNĐ</span>
                                                            </div>
                                                            <div class="amount-infor-block">
                                                                  <label class="amount-infor-label" for="payment-date">Ngày thanh toán</label>
                                                                  <span>{{ paymentDetail?.dueDate | date: 'dd/MM/yyyy' }}</span>
                                                            </div>
                                                            <div class="amount-infor-block">
                                                                  <label class="amount-infor-label" for="payment-date">Số tiền đã tạo lệnh</label>
                                                                  <span>{{ paymentDetail?.outgoingAmountPaid | number:'1.0-0' }} VNĐ</span>
                                                            </div>
                                                            <div class="amount-infor-block">
                                                                  <label class="amount-infor-label" for="payment-date">Số tiền chờ tạo lệnh</label>
                                                                  <span>{{ paymentDetail?.remainingOutgoingAmount | number:'1.0-0' }} VNĐ</span>
                                                            </div>
                                                      </div>
                                                      <div class="payment-tab-wrapper">
                                                            <div class="payment-tab-nav display-flex gap-5px border-bottom margin-bottom-10px">
                                                                  <button type="button" class="tab-button" [ngClass]="{ 'active': activeTab === 'items' }" (click)="setActiveTab('items')">
                                                                        Bảng hạng mục
                                                                  </button>
                                                                  <button  type="button" class="tab-button" [ngClass]="{ 'active': activeTab === 'outgoings' }" (click)="setActiveTab('outgoings')">
                                                                        Khoản tiền ra
                                                                  </button>
                                                            </div>
                                                            <ng-container [ngSwitch]="activeTab">
                                                                  <!-- Tab 1: Hạng mục thanh toán -->
                                                                  <ng-container *ngSwitchCase="'items'">
                                                                        <div [@tabSwitchFade]>
                                                                              <div class="amount-item-block" >
                                                                                    <div class="payment-item-table margin-top-20px">
                                                                                          <table class="table table-center-text">
                                                                                                <thead>
                                                                                                      <tr>
                                                                                                            <th style="width: 1%;">#</th>
                                                                                                            <th>Hạng mục</th>
                                                                                                            <th class="head-quanity" style="width: 7%;">Số lượng</th>
                                                                                                            <th>Đơn giá</th>
                                                                                                            <th>Thành tiền</th>
                                                                                                            <th class="head-tax" style="width: 6%;">Thuế</th>
                                                                                                            <th>Số tiền thuế</th>
                                                                                                            <th>Số tiền có thuế</th>
                                                                                                            <th class="head-extension">Ngân sách</th>
                                                                                                            <th class="head-invoice">Hóa đơn</th>
                                                                                                      </tr>
                                                                                                </thead>
                                                                                                <tbody>
                                                                                                      <tr *ngFor="let item of paymentDetail?.items; let i = index">
                                                                                                            <td>{{ i + 1 }}</td>
                                                                                                            <td class="item-name">{{ item.itemName }}</td>
                                                                                                            <td class="item-quanity">{{ item.quantity | number:'1.0-0' }}</td>
                                                                                                            <td class="item-unit-price">{{ item.unitPrice | number:'1.0-0' }} VNĐ</td>
                                                                                                            <td class="item-amount">{{ item.amount | number:'1.0-0' }} VNĐ</td>
                                                                                                            <td class="item-tax">{{ (item.taxRate * 100) | number:'1.0-0' }}%</td>
                                                                                                            <td class="item-tax-amount">{{ item.taxAmount | number:'1.0-0' }} VNĐ</td>
                                                                                                            <td class="item-total-with-tax">{{ item.totalWithTax | number:'1.0-0' }} VNĐ</td>
                                                                                                            <td class="item-budget-code">{{ item.budgetCode?.code}} - {{ item.budgetCode?.name }}</td>
                                                                                                            <td class="item-invoice">
                                                                                                                  <button type="button" class="button" [ngClass]="item.invoice ? 'default-button' : 'cancel-button'">
                                                                                                                        {{ item.invoice ? 'Xem hóa đơn' : 'Không hóa đơn' }}
                                                                                                                  </button>
                                                                                                            </td>
                                                                                                      </tr>
                                                                                                </tbody>
                                                                                                <tfoot *ngIf="paymentDetail?.items?.length">
                                                                                                      <tr class="total-row">
                                                                                                            <td colspan="4" class=""><strong>Tổng</strong></td>
                                                                                                            <td>{{ paymentDetail?.totalAmount | number:'1.0-0' }} VNĐ</td>
                                                                                                            <td></td>
                                                                                                            <td>{{ paymentDetail?.totalTax | number:'1.0-0' }} VNĐ</td>
                                                                                                            <td>{{ paymentDetail?.totalWithTax | number:'1.0-0' }} VNĐ</td>
                                                                                                            <td colspan="4"></td>
                                                                                                      </tr>
                                                                                                </tfoot>
                                                                                          </table>
                                                                                    </div>
                                                                              </div>
                                                                        </div>
                                                                  </ng-container>

                                                                  <!-- Tab 2: Khoản tiền ra -->
                                                                  <ng-container *ngSwitchCase="'outgoings'">
                                                                        <div class="" [@tabSwitchFade]>
                                                                              <div class="outgoing-payments-table">
                                                                                    <table class="table table-center-text">
                                                                                          <thead>
                                                                                                <tr>
                                                                                                      <th style="width: 1%;">#</th>
                                                                                                      <th>Khoản chi</th>
                                                                                                      <th>Trạng thái</th>
                                                                                                      <th>Ngày ghi nhận</th>
                                                                                                      <th>Số tiền ghi nhận</th>
                                                                                                </tr>
                                                                                          </thead>
                                                                                          <tbody>
                                                                                                <tr *ngFor="let outgoing of paymentDetail?.outgoingPayments; let i = index">                                                                                                      
                                                                                                      <td>{{ i + 1 }}</td>
                                                                                                      <td>
                                                                                                            <div class="link">
                                                                                                                  <span>🔗</span>
                                                                                                                  <span (click)="openOutgoingPaymentDetailDialog(outgoing.id)">{{ outgoing.name }}</span>
                                                                                                            </div>
                                                                                                      </td>
                                                                                                      <td>
                                                                                                            <span  class="outgoing-status-badge" [ngClass]="outgoing.status | outgoingPaymentStatus : 'class'">
                                                                                                                  {{ outgoing.status | outgoingPaymentStatus : 'label' }}
                                                                                                            </span>
                                                                                                      </td>
                                                                                                      <td>{{ outgoing.postingDate | date: 'shortDate' }}</td>
                                                                                                      <td>{{ outgoing.outgoingAmount | number:'1.0-0' }} VNĐ</td>
                                                                                                </tr>
                                                                                          </tbody>
                                                                                    </table>
                                                                              </div>
                                                                        </div>
                                                                  </ng-container>
                                                            </ng-container>
                                                      </div>                                                      
                                                </div>
                                          </div>
                                    </div>
                              </div>
                       </ng-container>
                  </ng-template>
                   <ng-template #errorTpl>
                        <kit-404-page title="⛔ Không thể tải dữ liệu thanh toán" variant="error"></kit-404-page>
                  </ng-template>
            </div>
            <div class="dialog-footer"></div>
      </div>
</div>