<div class="dialog">
      <div class="dialog-container">
            <div class="dialog-heading">
                  <div class="dialog-title">
                        <h1>Chi tiết thanh toán</h1>
                  </div>
                  <div class="dialog-exit">
                        <button type="button" class="exit-button" (click)="close()">
                              <span class="text material-icons-outlined">close</span>
                        </button>
                  </div>
            </div>
            <div class="dialog-body">
                  <div class="payment-header display-flex gap-10px align-items-center justify-content-between">
                       <div class="display-flex gap-10px align-items-center">
                              <div class="payment-status" [@statusChangeFade]="paymentDetail?.status">
                                    <span class="label-status-badge" [ngClass]="(paymentDetail?.status | expensePaymentStatus).class">
                                          {{ (paymentDetail?.status | expensePaymentStatus).text }}
                                    </span>
                              </div>
                              <h3 class="payment-name">{{ paymentDetail?.name }}</h3>
                       </div>
                        <div class="payment-actions display-flex gap-10px align-items-center">
                              <kit-spinner-button type="button" cssClass="submit-button"  text="Duyệt" loadingText="Đang duyệt…" (click)="approve()"></kit-spinner-button>
                              <kit-spinner-button type="button" cssClass="danger-button" text="Từ chối" loadingText="Đang từ chối…"></kit-spinner-button>
                        </div>
                  </div>
                  <div class="payment-infor display-flex flex-column gap-10px">
                        <div class="general-infor primary-card">
                              <div class="card-wrapper">
                                    <div class="card-header">Thông tin thanh toán</div>
                                    <div class="card-body">
                                          <div>
                                                <label for="sub-id">ID chi phí</label>
                                                <span>{{ paymentDetail?.subId }}</span>
                                          </div>
                                          <div>
                                                <label for="created-by-ủe">Tạo bởi</label>
                                                <div class="display-flex gap-5px align-items-center">
                                                      <img class="avatar-user" [src]="paymentDetail?.createdByUser | avatarUrlPipe">
                                                      <span>{{ paymentDetail?.createdByUser?.fullName}}</span>
                                                </div>
                                          </div>
                                          <div>
                                                <label for="created-at">Tạo lúc</label>
                                                <span>{{ paymentDetail?.createdAt | date: 'HH:mm dd/MM/yyyy' }}</span>
                                          </div>
                                          <div>
                                                <label for="supplier">Nhà cung cấp</label>
                                                <span>{{ paymentDetail?.supplierName }}</span>
                                          </div>
                                          <div>
                                                <label for="bank-name">Tên ngân hàng</label>
                                                <span>{{ paymentDetail?.bankName }}</span>
                                          </div>
                                          <div>
                                                <label for="bank-account">Số tài khoản</label>
                                                <span>{{ paymentDetail?.accountNumber }}</span>
                                          </div>
                                          <div>
                                                <label for="beneficiary-name">Người thụ hưởng</label>
                                                <span>{{ paymentDetail?.beneficiaryName }}</span>
                                          </div>
                                          <div class="">
                                                <label for="description">Mô tả</label>
                                                <span>{{ paymentDetail?.description || '---'}}</span>
                                          </div>
                                          <div>
                                                <label for="workflow-instance">Luồng duyệt</label>
                                                <ng-container *ngIf="(paymentDetail?.workflowInstance?.steps?.length ?? 0) > 0">
                                                      <ng-container *ngFor="let step of paymentDetail?.workflowInstance?.steps">
                                                            <div class="expense-step">
                                                                  <img class="avatar-user" [src]="step.approvedByUser| avatarUrlPipe">
                                                            </div>
                                                      </ng-container>
                                                </ng-container>
                                          </div>
                                    </div>
                              </div>
                        </div>
                        <div class="amount-infor primary-card">
                              <div class="card-wrapper">
                                    <div class="card-body">
                                          <div class="payment-amount-block">
                                                <label for="payment-total-amount">Tổng tiền thanh toán</label>
                                                <span>{{ paymentDetail?.totalWithTax | number: '1.0-0'  }} <span class="label-currency">VND</span></span>
                                          </div>
                                          <div class="payment-amount-block">
                                                <label for="outgoing-amount-paid">Khoản chi đã tạo</label>
                                                <span>{{ paymentDetail?.outgoingAmountPaid | number: '1.0-0'  }} <span class="label-currency">VND</span></span>
                                          </div>
                                          <div class="payment-amount-block">
                                                <label for="remaining-outgoing-amount">Số tiền còn lại</label>
                                                <span>{{ paymentDetail?.remainingOutgoingAmount | number: '1.0-0' }} <span class="label-currency">VND</span></span>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
                  <div class="payment-tabs">
                        <div class="payment-tab-navigation display-flex gap-5px border-bottom margin-bottom-10px">
                              <button type="button" class="tab-button" [ngClass]="{ 'active': activeTab === 'items' }" (click)="setActiveTab('items')">
                                    Bảng hạng mục
                              </button>
                              <button  type="button" class="tab-button" [ngClass]="{ 'active': activeTab === 'outgoings' }" (click)="setActiveTab('outgoings')">
                                    Khoản tiền ra
                              </button>
                        </div>

                        <ng-container [ngSwitch]="activeTab">
                              <!-- Tab 1: Hạng mục thanh toán -->
                              <ng-container *ngSwitchCase="'items'">
                                    <div [@tabSwitchFade]>
                                          <div class="payment-item-table">
                                                <table class="table">
                                                      <thead>
                                                            <tr>
                                                                  <th style="width: 1%;">#</th>
                                                                  <th>Hạng mục</th>
                                                                  <th class="head-quanity" style="width: 7%;">Số lượng</th>
                                                                  <th>Đơn giá</th>
                                                                  <th>Thành tiền</th>
                                                                  <th class="head-tax" style="width: 6%;">Thuế</th>
                                                                  <th>Số tiền thuế</th>
                                                                  <th>Số tiền có thuế</th>
                                                                  <th class="head-extension">Ngân sách</th>
                                                                  <th class="head-invoice">Hóa đơn</th>
                                                            </tr>
                                                      </thead>
                                                      <tbody>
                                                            <tr *ngFor="let item of paymentDetail?.items; let i = index">
                                                                  <td>{{ i + 1 }}</td>
                                                                        <td class="item-name">{{ item.itemName }}</td>
                                                                        <td class="item-quanity">{{ item.quantity | number:'1.0-0' }}</td>
                                                                        <td class="item-unit-price">{{ item.unitPrice | number:'1.0-0' }} <span class="label-currency">VND</span></td>
                                                                        <td class="item-amount">{{ item.amount | number:'1.0-0' }} <span class="label-currency">VND</span></td>
                                                                        <td class="item-tax">{{ (item.taxRate * 100) | number:'1.0-0' }}%</td>
                                                                        <td class="item-tax-amount">{{ item.taxAmount | number:'1.0-0' }} <span class="label-currency">VND</span></td>
                                                                        <td class="item-total-with-tax">{{ item.totalWithTax | number:'1.0-0' }} <span class="label-currency">VND</span></td>
                                                                        <td class="item-budget-code">{{ item.budgetCode.code }} - {{ item.budgetCode.name }}</td>
                                                                        <td class="item-invoice">
                                                                              <!-- <button type="button" class="button" [ngClass]="item.invoice ? 'default-button' : 'cancel-button'">
                                                                                    {{ item.invoice ? 'Xem hóa đơn' : 'Không hóa đơn' }}
                                                                              </button> -->
                                                                        </td>
                                                            </tr>
                                                      </tbody>
                                                      <tfoot *ngIf="paymentDetail?.items?.length">
                                                            <tr class="total-row">
                                                                  <td colspan="4"><strong>Tổng</strong></td>
                                                                  <td>{{ paymentDetail?.totalAmount | number:'1.0-0' }} VNĐ</td>
                                                                  <td></td>
                                                                  <td>{{ paymentDetail?.totalTax | number:'1.0-0' }} VNĐ</td>
                                                                  <td>{{ paymentDetail?.totalWithTax | number:'1.0-0' }} VNĐ</td>
                                                                  <td colspan="4"></td>
                                                            </tr>
                                                      </tfoot>
                                                </table>
                                          </div>
                                    </div>
                              </ng-container>

                        </ng-container>
                  </div>
            </div>
      </div>
</div>