.dialog {
      width: fit-content;
      min-width: 50vw;
}

.payment-name {
      color: var(--primary-fg-color);
}

.primary-card {
      width: 100%;
}

.general-infor {
      .card-body .column {
            display: grid;
            grid-template-columns: 150px 1fr; /* label 150px, value auto */
            margin-bottom: 15px;
      }
      .card-body label {
            color: #aaa;
      }

}

