.dialog {
      width: fit-content;
      min-width: 60vw;
}

.payment-name {
      color: var(--primary-fg-color);
}

.primary-card {
      width: 100%;
}

.general-infor {
      .card-body .column {
            display: grid;
            grid-template-columns: 150px 1fr; /* label 150px, value auto */
            margin-bottom: 15px;
      }
      .card-body label {
            color: #aaa;
      }

}

.amount-infor {
      .card-body {
            display: flex;
            gap: 20px;
      }
      .payment-amount {
            text-align: center;
            flex: 1;
            padding-right: 20px;
            position: relative;
            display: flex;
            gap: 10px;
            flex-direction: column;

            label {
                  font-weight: 600;
            }
      }
      .payment-amount:not(:last-child)::after {
            content: '';
            position: absolute;
            top: 10px;
            bottom: 10px;
            right: 0;
            width: 1px;
            height: 50%;
            background-color: #aaa;
      }
}

.payment-tabs {
      .payment-tab-navigation {
            border-bottom: 1px solid #e0e0e0;
            margin: 12px 0px;

            .tab-button {
                  background: none;
                  border: none !important;
                  padding: 6px 12px;
                  font-weight: 500;
                  color: #555;
                  cursor: pointer;
                  position: relative;
                  transition: color 0.2s;

                  &.active {
                        color: var(--bright-blue-color);
                        background-color: aliceblue;
                  }

                  &.active::after {
                        content: '';
                        position: absolute;
                        bottom: -1px;
                        left: 0;
                        right: 0;
                        height: 2px;
                        background-color: var(--bright-blue-color);
                  }

                  &:hover {
                        color: var(--bright-blue-color);
                  }
            }
      }
}