.payment-heading {
      display: flex;
      gap: 500px
}

.payment-status {
      display: flex;
      align-items: center;
}
.payment-status-badge {
      align-content: center;
      padding: 5px 10px;
      border-radius: 5px;
      user-select: none;
      font-size: 12px;

      &.draft      { color:#888;   background:#f0f0f0; }
      &.submitted  { color:#1565c0;background:#e3f2fd; }
      &.pending    { color: #f57c00; background: #fff3e0; border: 1px solid #ecdfd2; }
      &.approved   { color:#2e7d32;background:#e8f5e9; }
      &.rejected   { color:#c62828;background:#ffebee; }
      &.cancelled  { color:#6d4c41;background:#efebe9; }
      &.unknown    { color:#555;   background:#eee; }
}

.payment-infor {
      margin-top: 10px;
}

.created-user-avatar {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
}

.payment-workflow, .payment-followers {
      display: flex;
      gap: 20px;
      list-style: none;
      padding-left: 0;  
      margin: 0;
}
.payment-step {
      display: inline-block;
}
.approver-avatar, .follower-avatar {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      object-fit: cover;
}

.amount-infor-block {
      display: flex;
      flex-direction: column;
      gap: 10px;
       background-image: linear-gradient(to bottom, #f2fff9, #f3fffa, #f4fffb, #f5fefb, #f6fefc, #f7fefd, #f8fdfe, #fafdfe, #fcfdff, #fdfeff, #fefeff, #ffffff);
      padding: 15px;
      border-radius: 10px;
      text-align: center;
      box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.amount-infor-label {
      font-weight: bold;
      color: #018601;
}