.payment-heading {
      display: flex;
      gap: 500px
}

.payment-status {
      display: flex;
      align-items: center;
}
.payment-status-badge {
      align-content: center;
      padding: 5px 10px;
      border-radius: 5px;
      user-select: none;
      font-size: 12px;

      &.draft      { color:#888;   background:#f0f0f0; }
      &.submitted  { color:#1565c0;background:#e3f2fd; }
      &.pending    { color: #f57c00; background: #fff3e0; border: 1px solid #ecdfd2; }
      &.approved   { color:#2e7d32;background:#e8f5e9; }
      &.rejected   { color:#c62828;background:#ffebee; }
      &.cancelled  { color:#6d4c41;background:#efebe9; }
      &.unknown    { color:#555;   background:#eee; }
}

.payment-infor {
      margin-top: 10px;
}

.created-user-avatar {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
}

.payment-workflow, .payment-followers {
      display: flex;
      gap: 20px;
      list-style: none;
      padding-left: 0;  
      margin: 0;
}
.payment-step {
      display: inline-block;
}
.approver-avatar, .follower-avatar {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      object-fit: cover;
}

.amount-infor-block {
      display: flex;
      flex-direction: column;
      gap: 10px;
       background-image: linear-gradient(to bottom, #f2fff9, #f3fffa, #f4fffb, #f5fefb, #f6fefc, #f7fefd, #f8fdfe, #fafdfe, #fcfdff, #fdfeff, #fefeff, #ffffff);
      padding: 15px;
      border-radius: 10px;
      text-align: center;
      box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.amount-infor-label {
      font-weight: bold;
      color: #018601;
}
.cancel-button:hover {
      cursor: unset;
}



.comment-composer {
      display: flex;
      gap: 12px;
      align-items: flex-start;
      padding: 8px;
      cursor: text;
      &.active { cursor: default; }
}
.comment-avatar {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      object-fit: cover;
      flex-shrink: 0;
}
.comment-placeholder {
      flex: 1;
      height: 36px;
      line-height: 36px;
      border-bottom: 1px solid #e0e0e0;
      color: #6b7280; /* gray-500 */
}
.comment-input-area {
      flex: 1;
}

.comment-textarea {
      box-sizing: border-box;
      width: 100%;
      border: none;
      border-bottom: 1px solid #e0e0e0;
      padding: 6px 0 2px;     /* giảm padding dưới */
      line-height: 1.5 !important;       /* line-height nhỏ gọn */
      resize: none;           /* tránh kéo làm tăng khoảng trống */
      outline: none;
      font: inherit;
      min-height: unset;
      height: 30px;
}
.comment-actions {
      display: flex;
      justify-content: flex-end;
      gap: 8px;
      margin-top: 8px;

      .button.ghost { background: transparent; }
      .button.submit[disabled] { opacity: .5; cursor: not-allowed; }
}
