<div class="dialog">
      <div class="dialog-container">
            <form [formGroup]="form" (ngSubmit)="submit()">
                  <div class="dialog-heading">
                        <div class="dialog-title">
                              <h3>Quản lý của 
                                    <span style="color: var(--bright-blue-color);">{{ depatment.name }}</span>
                              </h3>
                        </div>
                        <div class="dialog-close">
                              <button type="button" class="close-button" (click)="close()">
                                    <span class="text material-icons-outlined">close</span>
                              </button>
                        </div>
                  </div>
                  <div class="dialog-body">
                        <div class="dialog-row">
                              <kit-dropdown [options]="(managerOptions$ | async) ?? []" [placeholder]="'Chọn quản lý trưởng'" formControlName="primaryManagerId" 
                              (selectionChange)="onPrimaryManagerSelected($event)" [required]="true"
                              [invalid]="showErrors && (form.get('primaryManagerId')?.invalid ?? false)"></kit-dropdown>
                              <div class="form-input-error" *ngIf="showErrors && form.get('primaryManagerId')?.invalid">
                                    <small>Vui lòng chọn quản lý chính</small>
                              </div>
                        </div>
                        <div class="dialog-row">
                              <kit-dropdown [multiple]="true" [options]="(viceOptions$ | async) ?? []" [placeholder]="'Chọn quản lý phụ'" formControlName="viceManagerIds" (selectionChange)="onViceManagersSelected($event)"></kit-dropdown>
                        </div>
                  </div>
                  <div class="dialog-footer display-flex gap-10px">
                        <button type="button" class="width-50pt button cancel-button" (click)="close()" [disabled]="submitting">Hủy</button>
                        <div class="width-50pt">
                              <kit-spinner-button type="submit" cssClass="save-button" [loading]="submitting" [disabled]="submitting" text="Lưu" [loadingText]="''"></kit-spinner-button>
                        </div>
                  </div>
            </form>
      </div>
</div>