<h2>Ngân sách</h2>

<button (click)="showModal = true">Thêm ngân sách</button>
<add-budget-code-modal *ngIf="showModal" (close)="showModal = false" (save)="createBudgetCode($event)"></add-budget-code-modal>

<table class="table-budget-codes">
      <thead>
            <tr>
                  <th>
                        <input #masterCheckbox type="checkbox">
                  </th>
                  <th>Mã ngân sách</th>
                  <th>Tên ngân sách</th>
                  <th>Hiệu lực</th>
            </tr>
      </thead>
      <tbody>
            <tr *ngFor="let budgetCode of budgetCodes" [ngClass]="{ 'inactive-budget-code': !budgetCode.isActive}">
                  <td><input type="checkbox"></td>
                  <td>{{ budgetCode.code }}</td>
                  <td>
                        {{ budgetCode.name }}
                        <span class="user-select-none" *ngIf="!budgetCode.isActive" matTooltip="Hết hiệu lực" matTooltipClass="font-lexend">🔒</span>
                  </td>
                  <td>
                        <label class="switch-1">
                              <input type="checkbox" [checked]="budgetCode.isActive" (change)="onToggleStatus(budgetCode)">
                              <span class="slider"></span>
                        </label>
                  </td>
                  <td></td>
                  <td></td>
            </tr>
      </tbody>
</table>